openapi: 3.0.0
info:
  title: Kubifactu API
  description: API para el procesamiento y gestión de facturas de Veri*Factu
  version: 1.0.0
  contact:
    email: soporte@kubifactu.com
    name: Soporte KubiFACTU
    url: https://apidocs.kubifactu.com

servers:
  - url: https://api.kubifactu.com
    description: Servidor de producción
  - url: https://devapi.kubifactu.com
    description: Servidor de pruebas

paths:
  /api/invoices:
    get:
      summary: "Listar registros de facturación entre fechas"
      description: |
        Por el momento, este endpoint sólo esta disponible en el **entorno de pruebas**.

        Obtiene un listado **paginado** de registros de facturación pertenecientes a la empresa autenticada. La información de cada registro de facturación en una **versión reducida** de la que se obtiene en consultas individuales o cuando se crean nuevos registros de facturación.

        Además se devuelve una sección `meta` para la gestión de la paginación.

        El valor devuelto en `meta.next_page_cursor` sirve para solicitar la siguiente página y `meta.prev_page_cursor` para retroceder. Si `meta.has_more` es `false`, no hay más elementos.
      operationId: "listInvoices"
      parameters:
        - name: date_from
          in: query
          required: true
          description: Fecha de inicio del rango de creación de las facturas (incluida). Formato `YYYY-MM-DD`.
          schema:
            type: string
            format: date
            example: "2025-01-01"
        - name: date_to
          in: query
          required: true
          description: Fecha de fin del rango de creación de las facturas (incluida). Debe ser igual o posterior a `date_from`.
          schema:
            type: string
            format: date
            example: "2025-01-31"
        - name: per_page
          in: query
          required: false
          description: Número de elementos por página (máximo 50). Valor por defecto 50.
          schema:
            type: integer
            minimum: 1
            maximum: 50
            example: 25
        - name: cursor
          in: query
          required: false
          description: Cursor para la paginación basada en cursor. Use el valor devuelto en `meta.next_page_cursor`.
          schema:
            type: string
            example: "eyJpZCI6IjE5NzctMDQtMjJUMDY6MDA6MDBaIn0"
      responses:
        '200':
          description: "Listado paginado de registros de facturación."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListInvoicesResponse'
        '422':
          description: "Errores de validación."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '403':
          description: "No autorizado. La API-KEY proporcionada no es válida."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedApiKeyErrorResponse'
        '500':
          description: "Error interno del servidor."
      security:
        - client_api_key: []
    post:
      summary: "Enviar registro de facturación"
      description: Generación de un nuevo registro de facturación.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateInvoiceRecordRequest"
      responses:
        '200':
          description: "Factura enviada con éxito."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateInvoiceRecordResponse'
        '422':
          description: "Errores de validación."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '403':
          description: "No autorizado. La API-KEY proporcionada no es válida."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedApiKeyErrorResponse'
        '500':
          description: "Error interno del servidor."
      security:
        - client_api_key: []

  /api/invoices/deferred:
    post:
      summary: "Enviar registro de facturación diferido"
      description: "Generación de un nuevo registro de facturación diferido."
      operationId: "createDeferredInvoiceRecord"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateInvoiceRecordRequest"
      responses:
        '200':
          description: "Factura recibida con éxito."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateInvoiceRecordResponse'
        '422':
          description: "Errores de validación."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '403':
          description: "No autorizado. La API-KEY proporcionada no es válida."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedApiKeyErrorResponse'
        '500':
          description: "Error interno del servidor."
      security:
        - client_api_key: []

  /api/invoices/batch:
    post:
      summary: "Enviar registros de facturación en lote"
      description: |
        **Este endpoint sólo está disponible en el entorno de pruebas.**

        Generación de nuevos registros de facturación en lote que **serán procesados en diferido**.
      operationId: "createBatchOfInvoiceRecords"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBatchIfInvoicesRecordsRequest"
      responses:
        '200':
          description: "Facturas recibidas con éxito."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateInvoiceRecordResponse'
        '422':
          description: "Errores de validación."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '403':
          description: "No autorizado. La API-KEY proporcionada no es válida."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedApiKeyErrorResponse'
        '500':
          description: "Error interno del servidor."
      security:
        - client_api_key: []

  /api/invoices/{invoiceId}:
    get:
      summary: Obtener registro de facturación
      description: |
        Obtener información sobre un registro de facturación.
        > Este endpoint **no hace consulta a Veri*Factu**; los datos se devuelven directamente desde nuestra base de datos.
      parameters:
        - name: invoiceId
          in: path
          description: |
            ID de la factura. Este ID se obtiene en la respuesta a las altas de registros de facturación o puede usarse el identificador único de la factura **dentro del sistema del cliente** si en la creación del registro de facturación se hizo uso del campo `client_invoice_id`. El ID también se puede obtener desde el panel web, acediendo a la factura en el campo **ID DE KUBIFACTU**.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Datos de la factura."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateInvoiceRecordResponse'
        '403':
          description: "No autorizado. La API-KEY proporcionada no es válida."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedApiKeyErrorResponse'
        '500':
          description: "Error interno del servidor."
      security:
        - client_api_key: []

  /api/invoices/{invoiceId}/query:
    get:
      summary: Consultar registro de facturación con Veri*Factu
      description: |
        Obtiene el estado de un registro de facturación haciendo previamente una consulta a Veri*Factu. Se llama a la URL de callback del registro si se incluyó en el momento de su alta. [Ver formato de la llamada de callback](enviar-registro-de-facturación#body-callback-url).

        La respuesta de este endpoint contiene el estado de la factura actualizado correspondiente al que hay registrado en la AEAT.
      parameters:
        - name: invoiceId
          in: path
          description: |
            ID de la factura. Este ID se obtiene en la respuesta a las altas de registros de facturación o puede usarse el identificador único de la factura **dentro del sistema del cliente** si en la creación del registro de facturación se hizo uso del campo `client_invoice_id`. El ID también se puede obtener desde el panel web, acediendo a la factura en el campo **ID DE KUBIFACTU**.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Datos de la factura tras haber sido actualizada con el estado registrado en Veri*Factu."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateInvoiceRecordResponse'
        '403':
          description: "No autorizado. La API-KEY proporcionada no es válida."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedApiKeyErrorResponse'
        '500':
          description: "Error interno del servidor."
      security:
        - client_api_key: []

  /api/invoices/{invoiceId}/cancel:
    post:
      summary: "Anular registro de facturación"
      description: |
        Anulación de un registro de facturación.

        Si se considera que "toda la factura" en sí misma está mal o no debería haberse emitido, siempre que para solucionarlo no deba emplearse algún procedimiento (de rectificativa u otro) previsto en el Reglamento de Obligaciones de Facturación (ROF), se podrá anular, generando para ello un registro de facturación de anulación.
      operationId: "cancelInvoiceRecord"
      parameters:
        - name: invoiceId
          in: path
          description: |
            ID de la factura. Este ID se obtiene en la respuesta a las altas de registros de facturación. También se peude obtener desde el panel web, acediendo a la factura en el campo **ID DE KUBIFACTU**.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Factura enviada con éxito."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelInvoiceRecordResponse'
        '422':
          description: "Errores de validación."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '403':
          description: "No autorizado. La API-KEY proporcionada no es válida."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedApiKeyErrorResponse'
        '500':
          description: "Error interno del servidor."
      security:
        - client_api_key: []

  /api/invoices/{invoiceId}/deferredcancel:
    post:
      summary: "Anular registro de facturación en diferido"
      description: "Anulación de un registro de facturación en diferido."
      operationId: "cancelInvoiceRecordDeferred"
      parameters:
        - name: invoiceId
          in: path
          description: |
            ID de la factura. Este ID se obtiene en la respuesta a las altas de registros de facturación. También se peude obtener desde el panel web, acediendo a la factura en el campo **ID DE KUBIFACTU**.
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                callback_url:
                  type: string
                  format: url
                  description: |
                    Sólo aplicable a [registros de facturación en diferido](/basic-concepts#registros-de-facturación-diferidos). URL a la que se llamará con el resultado de la AEAT al procesamiento del registro de facturación.

                    Se hará una petición POST a esta URL y se enviarán los siguientes campos en formato JSON:

                    - `id`: `string`. Identificador de KubiFACTU para el registro de facturación.
                    - `record_type`: `string (creation|cancellation)`. Tipo de registro de facturación.
                    - `sender_company_name`: `string`. Nombre de la empresa emisira.
                    - `sender_tax_id_number`: `string`. CIF/NIF de la empresa emisora.
                    - `full_invoice_number`: `string`. Número de factura.
                    - `fingerprint`: `string`. Huella del registro de facturación.
                    - `vf_post_status`: `string`. Ver valores posibles en la documentación del campo `vf_post_status` de la respuesta de envío de registros de facturación.
                    - `vf_record_registration_status`: `string`. Ver valores posibles en la documentación del campo `vf_record_registration_status` de la respuesta de envío de registros de facturación.
                    - `has_warnings`: `bool`. Indica si el registro contiene errores que deban ser subsanados.
                    - `vf_error_descriptions`: `string|null`. Cadena con la descripción de los errores devueltos por Veri*Factu.
                    - `xml_contents`: `string|null`. XML del registro de facturación enviado a Veri*Factu en formato Base64. Si el registro de facturación forma parte de un envío en diferido, el XML puede contener información sobre otros registros de facturación incluidos en el envío.
                  example: "https://www.tuempresa.com/kubifactu/callback"
      responses:
        '200':
          description: "Factura enviada con éxito."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelInvoiceRecordResponse'
        '422':
          description: "Errores de validación."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '403':
          description: "No autorizado. La API-KEY proporcionada no es válida."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedApiKeyErrorResponse'
        '500':
          description: "Error interno del servidor."
      security:
        - client_api_key: []

  /api/clientcompanies:
    post:
      summary: "Crear una nueva empresa"
      description: "Registro de una nueva empresa en el sistema."
      operationId: "createClientCompany"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateClientCompanyRequest"
      responses:
        '200':
          description: "Empresa creada con éxito."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateClientCompanyResponse'
        '422':
          description: "Errores de validación."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '403':
          description: "No autorizado. La API-KEY proporcionada no es válida."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedApiKeyErrorResponse'
        '500':
          description: "Error interno del servidor."
      security:
        - owner_api_key: []

  /api/clientcompanies/{companyId}:
    post:
      summary: "Editar empresa"
      description: "Edición de los datos de una empresa."
      operationId: "updateClientCompany"
      parameters:
        - name: companyId
          in: path
          description: |
            ID de la empresa a editar.
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateClientCompanyRequest"
      responses:
        '200':
          description: "Empresa creada con éxito."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateClientCompanyResponse'
        '422':
          description: "Errores de validación."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '403':
          description: "No autorizado. La API-KEY proporcionada no es válida."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedApiKeyErrorResponse'
        '500':
          description: "Error interno del servidor."
      security:
        - owner_api_key: []
    get:
      summary: "Obtener datos de empresa"
      description: "Devuelve los datos de la empresa."
      operationId: "showClientCompany"
      parameters:
        - name: companyId
          in: path
          description: |
            ID de la empresa a editar.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Datos de la empresa."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateClientCompanyResponse'
        '404':
          description: "No encontrado. La empresa con el ID indicado no ha sido encontrada."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        '403':
          description: "No autorizado. La API-KEY proporcionada no es válida."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedApiKeyErrorResponse'
        '500':
          description: "Error interno del servidor."
      security:
        - owner_api_key: []

  /api/clientcompanies/{companyId}/sifs:
    get:
      summary: "Obtener SIFs de empresa"
      description: "Obtención de los Sistemas Informáticos de Facturación de la empresa."
      operationId: "getClientCompanySifs"
      parameters:
        - name: companyId
          in: path
          description: |
            ID de la empresa.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Empresa creada con éxito."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSIFsResponse'
        '403':
          description: "No autorizado. La API-KEY proporcionada no es válida."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedApiKeyErrorResponse'
        '500':
          description: "Error interno del servidor."
      security:
        - owner_api_key: []
    post:
      summary: "Nuevo SIF de empresa"
      description: "Creación de un Sistema Informático de Facturación de empresa."
      operationId: "createClientCompanySif"
      parameters:
        - name: companyId
          in: path
          description: |
            ID de la empresa.
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateClientCompanySifRequest"
      responses:
        '200':
          description: "Empresa creada con éxito."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSIFResponse'
        '422':
          description: "Errores de validación."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '403':
          description: "No autorizado. La API-KEY proporcionada no es válida."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedApiKeyErrorResponse'
        '500':
          description: "Error interno del servidor."
      security:
        - owner_api_key: []

components:
  schemas:
    CreateClientCompanyRequest:
      type: object
      properties:
        company_name:
          type: string
          description: Nombre de la empresa.
          example: "Empresa de ejemplo"
        tax_id_number:
          type: string
          description: NIF/CIF de la empresa.
          example: "S6271969E"
        email:
          type: string
          format: email
          description: Correo electrónico de la empresa.
          example: "empresa@prueba.net"
      required:
        - company_name
        - tax_id_number
        - email

    UpdateClientCompanyRequest:
      type: object
      properties:
        company_name:
          type: string
          description: Nombre de la empresa.
          example: "Empresa de ejemplo"
        tax_id_number:
          type: string
          description: NIF/CIF de la empresa.
          example: "S6271969E"
        email:
          type: string
          format: email
          description: Correo electrónico de la empresa.
          example: "empresa@prueba.net"
      required:
        - company_name
        - tax_id_number
        - email

    UpdateClientCompanyCertificateRequest:
      type: object
      properties:
        certificate_file:
          type: string
          format: binary
          description: Certificado digital de la empresa en formato archivo.
        certificate_password:
          type: string
          description: Contraseña del certificado digital.
          example: "passwd"
      required:
        - certificate_file
        - certificate_password

    CreateClientCompanySifRequest:
      type: object
      properties:
        company_name:
          type: string
          description: Nombre de la empresa.
          example: "Empresa de ejemplo"
        tax_id_number:
          type: string
          description: NIF/CIF de la empresa.
          example: "S6271969E"
        other_country_code:
          $ref: "#/components/schemas/other_country_code"
        other_tax_id_type_key:
          $ref: "#/components/schemas/other_tax_id_type_key"
        other_tax_id_number:
          type: string
          description: >
            Número de identificación en el país de residencia del sujeto. Ejemplo: `L74JF44L2` para una empresa de `DE`.
        name:
          type: string
          description: Nombre del SIF.
          maxLength: 30
          example: "SIF-0001"
        sif_id:
          type: string
          maxLength: 2
          description: |
            Identificador del SIF para Veri*Factu. Deberá distinguirse de otros posibles SIFs que produzca esta entidad productora.

            Deberá tener rellenadas siempre las dos posiciones, cada una de las cuales deberá ser una letra mayúscula, excepto la Ñ, o un dígito numérico.
        version:
          type: string
          description: Versión en formato X.Y.Z del SIF.
          example: "1.0.0"
        installation_number:
          type: string
          maxLength: 100
          description: Número de instalación del sistema informático de facturación (SIF) utilizado. Deberá distinguirse de otros posibles SIF utilizados para realizar la facturación del obligado a expedir facturas, es decir, de otras posibles instalaciones de SIF pasadas, presentes o futuras utilizadas para realizar la facturación del obligado a expedir facturas, incluso aunque en dichas instalaciones se emplee el mismo SIF de un productor.
          example: "LQLFBFLMUSLAEMU7SC2BROSETQU7SSRIKJDRW2QHVMCPE574M4JORYRDLWPS3NRXWJ3APCNKWWXO771GSIO731KXTAUPIMXWV33Y"
      required:
        - company_name
        - tax_id_number
        - name
        - sif_id
        - version
        - installation_number

    CreateBatchIfInvoicesRecordsRequest:
      type: object
      properties:
        invoices:
          type: array
          description: |
            Array de registros de facturación con la misma estructura que la del endpoint de **Enviar registro de facturación**.
          items:
            $ref: '#/components/schemas/CreateInvoiceRecordRequest'

    CreateInvoiceRecordRequest:
      type: object
      properties:
        client_invoice_id:
          type: string
          format: uuid
          description: |
            Identificador único de la factura **dentro del sistema del cliente**. Si se envía y ya existe una factura con ese mismo `client_invoice_id` para la empresa actual, no se generará una nueva factura: el sistema devolverá directamente la factura existente.
          example: "96f2044008d7"

        callback_url:
          type: string
          format: url
          description: |
            Sólo aplicable a facturas diferidas. URL a la que se llamará con el resultado de la AEAT al procesamiento del registro de facturación.

            Se hará una petición POST a esta URL y se enviarán un array en formato JSON con los datos de las facturas procesadas cuyos ítems contendrán los siguientes campos:

            - `id`: `string`. Identificador de KubiFACTU para el registro de facturación.
            - `record_type`: `string (creation|cancellation)`. Tipo de registro de facturación.
            - `sender_company_name`: `string`. Nombre de la empresa emisira.
            - `sender_tax_id_number`: `string`. CIF/NIF de la empresa emisora.
            - `full_invoice_number`: `string`. Número de factura.
            - `fingerprint`: `string`. Huella del registro de facturación.
            - `vf_post_status`: `string`. Ver valores posibles en la documentación del campo `vf_post_status` de la respuesta de envío de registros de facturación.
            - `vf_record_registration_status`: `string`. Ver valores posibles en la documentación del campo `vf_record_registration_status` de la respuesta de envío de registros de facturación.
            - `has_warnings`: `bool`. Indica si el registro contiene errores que deban ser subsanados.
            - `vf_error_descriptions`: `string|null`. Cadena con la descripción de los errores devueltos por Veri*Factu.
            - `xml_contents`: `string|null`. XML del registro de facturación enviado a Veri*Factu en formato Base64. Si el registro de facturación forma parte de un envío en diferido, el XML puede contener información sobre otros registros de facturación incluidos en el envío.
          example: "https://www.tuempresa.com/kubifactu/callback"

        sif_id:
          type: string
          format: uuid
          description: |
            ID del SIF que se quiere utilizar para el envío de la factura. Los SIFs se pueden registrar en el panel web de KubiFACTU.

            Un SIF puede procesar registros de facturación de diferentes empresas.

            Una empresa puede tener uno o varios SIFs. Por ejemplo, una empresa con varias tiendas puede operar con un SIF por cada establecimiento, de forma que el encadenamiento/trazabilidad de las facturas se trate por separado.
          example: "9db0bca1-187e-4cf4-b87c-96f2044008d7"

        invoice_type_key:
          $ref: "#/components/schemas/invoice_type_key"

        sender_data:
          type: object
          description: Información referente al emisor de la factura.
          required:
            - company_name
            - tax_id_number
          properties:
            company_name:
              type: string
              description: Nombre de la empresa emisora.
            tax_id_number:
              type: string
              description: NIF/CIF de la empresa emisora.

        recipients:
          type: array
          description: Información de los receptores de la factura. Obligatorio para facturas ordinarias.
          items:
            type: object
            required:
              - company_name
            properties:
              company_name:
                type: string
                description: Nombre de la empresa receptora.
              tax_id_number:
                type: string
                description: >
                  NIF/CIF de la empresa receptora. Este campo es obligatorio si el receptor es nacional y se identifica mediante CIF/NIF.
              other_country_code:
                $ref: "#/components/schemas/other_country_code"
              other_tax_id_type_key:
                $ref: "#/components/schemas/other_tax_id_type_key"
              other_tax_id_number:
                type: string
                description: >
                  Número de identificación en el país de residencia del destinatario de la operación de la factura expedida. Ejemplo: `L74JF44L2` para una empresa de `DE`.

        representative_company_name:
          type: string
          description: |
            Nombre/razón social del representante del obligado tributario.
            A rellenar solo en caso de que el registro de facturación remitido haya sido generado por un representante/asesor del obligado tributario.

        representative_tax_id_number:
          type: string
          description: |
            NIF del representante del obligado tributario.
            A rellenar solo en caso de que el registro de facturación remitido haya sido generado por un representante/asesor del obligado tributario.

        previous_rejection_key:
          $ref: "#/components/schemas/previous_rejection_key"

        correction_key:
          $ref: "#/components/schemas/correction_key"

        full_invoice_number:
          type: string
          description: |
            Serie+Nº Factura que identifica a la factura emitida. Sólo puedo contener caracteres ASCII del 32 a 126 (caracteres imprimibles).
            Ejemplo: `2025-00001`.
          example: "2025-00001"

        fiscal_year:
          type: integer
          description: |
            Ejercicio fiscal en el que se emite la factura. Aunque este dato no se envía a la AEAT, se utiliza junto con el `sif_id` para verificar que no se están duplicando los números de factura.
          example: 2025

        issue_date:
          type: string
          format: date
          description: |
            Fecha de expedición de la factura en formato `yyyy-mm-dd`. Ejemplo: `2025-02-26`.

            La fecha de expedición de la factura debe coincidir con la fecha en la que la factura nos es remitida (lo cual supone la creación del **_registro de facturación_**).
          example: "2025-02-26"

        operation_date:
          type: string
          format: date
          description: |
            Fecha en la que se ha realizado la operación, siempre que sea diferente a la fecha de expedición.
            Formato `yyyy-mm-dd`.
            Ejemplo: `2025-02-26`.
          example: "2025-02-26"

        operation_description:
          type: string
          description: |
            Descripción del objeto de la factura.

        lines:
          type: array
          description: |
            Desglose de la factura con la lista de los conceptos facturados.
          items:
            type: object
            required:
              - tax_type_key
              - vat_tax_regime_key
              - igic_tax_regime_key
              - operation_type_key
              - tax_base
            properties:
              tax_type_key:
                $ref: "#/components/schemas/tax_type_key"
              vat_tax_regime_key:
                $ref: "#/components/schemas/vat_tax_regime_key"
              igic_tax_regime_key:
                $ref: "#/components/schemas/igic_tax_regime_key"
              operation_type_key:
                $ref: "#/components/schemas/operation_type_key"
              exemption_cause_key:
                $ref: "#/components/schemas/exemption_cause_key"
              tax_base:
                type: number
                format: decimal
                description: |
                  Magnitud dineraria sobre la que se aplica el tipo impositivo/importe no sujeto.
                  Valor con 12 dígitos en la parte entera y 2 decimales. Ejemplo: `200.00`.
                example: 200.00
              tax_base_at_cost:
                type: number
                format: decimal
                description: |
                  Magnitud dineraria sobre la que se aplica el tipo impositivo en **régimen especial de grupos nivel avanzado**.
                  Valor con 12 dígitos en la parte entera y 2 decimales. Ejemplo: `100.00`.
              tax_rate:
                type: number
                format: decimal
                description: |
                  Porcentaje aplicado sobre la base imponible para calcular la cuota.
                  Valor con 3 dígitos en la parte entera y 2 decimales. Ejemplo: `21.00`.
                example: 21.00
              tax_quota:
                type: number
                format: decimal
                description: |
                  Cuota resultante de aplicar a la base imponible el tipo impositivo.
                  Valor con 12 dígitos en la parte entera y 2 decimales. Ejemplo: `42.00`.
                example: 42.00
              equalization_tax_rate:
                type: number
                format: decimal
                description: |
                  Tipo de recargo de equivalencia asociado en función del impuesto y tipo impositivo.
                  Valor con 3 dígitos en la parte entera y 2 decimales. Ejemplo: `5.20`.
                example: 5.20
              equalization_tax_quota:
                type: number
                format: decimal
                description: |
                  Cuota de resultante de aplicar a la base imponible el tipo de recargo de equivalencia.
                  Valor con 12 dígitos en la parte entera y 2 decimales. Ejemplo: `10.40`.
                example: 10.40

        total_quota:
          type: number
          format: decimal
          description: |
            Importe total de la cuota (sumatorio de la cuota repercutida y cuota de recargo de equivalencia) de la factura.
            Valor con 12 dígitos en la parte entera y 2 decimales. Ejemplo: `33.57`.

        total_amount:
          type: number
          format: decimal
          description: |
            Importe total de la factura. Ʃ(`tax_base` + `tax_quota` + `equalization_tax_quota`) de todas las líneas de detalle de desglose (agrupación `lines`).
            Valor con 12 dígitos en la parte entera y 2 decimales. Ejemplo: `2450.75`.

        simplified_invoice_key:
          $ref: "#/components/schemas/simplified_invoice_key"

        without_recipient_identification_key:
          $ref: "#/components/schemas/without_recipient_identification_key"

        macrodata_key:
          $ref: "#/components/schemas/macrodata_key"

        issued_by_third_party_or_recipient_key:
          type: string
          description: |
            Identificador que especifica si la factura ha sido expedida materialmente por un tercero o por el destinatario (contraparte).

            - Si es igual a `T` (tercero), el bloque `third_party_data` será de cumplimentación obligatoria.
            - Si es igual a `D` (destinatario), el bloque `recipients` será de cumplimentación obligatoria.

            - `T`: Tercero
            - `D`: Destinatario
          enum:
            - "T"
            - "D"

        third_party_data:
          type: object
          description: Información del tercero que expide la factura.
          required:
              - company_name
          properties:
            company_name:
              type: string
              description: Nombre de la empresa del tercero que expide la factura.
            tax_id_number:
              type: string
              description: >
                NIF/CIF de la empresa. Este campo es obligatorio si el tercero que expide la factura es nacional y se identifica mediante CIF/NIF
            other_country_code:
              $ref: "#/components/schemas/other_country_code"
            other_tax_id_type_key:
              $ref: "#/components/schemas/other_tax_id_type_key"
            other_tax_id_number:
              type: string
              description: >
                Número de identificación, en el país de residencia del tercero que expide la factura. Ejemplo: `L74JF44L2` para una empresa de `DE`.

        rectificative_type_key:
          $ref: "#/components/schemas/rectificative_type_key"

        rectified_tax_base:
          type: number
          format: decimal
          description: |
            Base imponible rectificada.
            Valor con 12 dígitos en la parte entera y 2 decimales. Ejemplo: `2500.55`.
          example: 2500.55

        rectified_tax_quota:
          type: number
          format: decimal
          description: |
            Cuota de impuesto rectificada.
            Valor con 12 dígitos en la parte entera y 2 decimales. Ejemplo: `42.30`.
          example: 42.30

        rectified_equalization_tax_quota:
          type: number
          format: decimal
          description: |
            Cuota de recargo de equivalencia rectificada.
            Valor con 12 dígitos en la parte entera y 2 decimales. Ejemplo: `5.20`.
          example: 5.20

        rectified_invoices:
          type: array
          description: |
            Lista de facturas que se están rectificando.
          items:
            type: object
            required:
              - tax_id_number
              - full_invoice_number
              - issue_date
            properties:
              tax_id_number:
                type: string
                description: |
                  NIF/CIF de la empresa emisora de la factura que quiere rectificar.
              full_invoice_number:
                type: string
                description: |
                  Serie+Nº Factura que identifica a la factura que se quiere rectificar.
                  Ejemplo: `2025-00001`.
              issue_date:
                type: string
                format: date
                description: |
                  Fecha de expedición de la factura que se quiere rectificar en formato `yyyy-mm-dd`.
                  Ejemplo: `2025-02-26`.
                example: "2025-02-26"

        substituted_invoices:
          type: array
          description: |
            Lista de facturas que se quieren sustituir.

            Sólo podrá incluirse esta agrupación cuando el campo `invoice_type_key` sea `F3`.
          items:
            type: object
            required:
              - tax_id_number
              - full_invoice_number
              - issue_date
            properties:
              tax_id_number:
                type: string
                description: |
                  NIF/CIF de la empresa emisora de la factura que quiere rectificar.
              full_invoice_number:
                type: string
                description: |
                  Serie+Nº Factura que identifica a la factura que se quiere rectificar.
                  Ejemplo: `2025-00001`.
              issue_date:
                type: string
                format: date
                description: |
                  Fecha de expedición de la factura que se quiere rectificar en formato `yyyy-mm-dd`.
                  Ejemplo: `2025-02-26`.
                example: "2025-02-26"

        coupon_key:
          $ref: "#/components/schemas/coupon_key"

        invoicing_agreement_registration_number:
          type: string
          description: |
            Número de registro obtenido al enviar la autorización en materia de facturación o de libros registro a que se refiere la disposición adicional primera del Real Decreto que aprueba el Reglamento.

        sif_agreement_id:
          type: string
          description: |
            Identificación del acuerdo (resolución) a que se refiere el artículo 5 del Reglamento.

      required:
        - sif_id
        - certificate_password
        - invoice_type_key
        - sender_data
        - full_invoice_number
        - fiscal_year
        - issue_date
        - operation_description
        - lines
        - total_quota
        - total_amount

    CreateInvoiceRecordResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
              format: uuid
              description: |
                Identificador (ID) de la factura en el sistema de **KubiFACTU**. Se utiliza para hacer referencia al registro de facturación desde otros endpoints como, por ejemplo, el de anulación de facturas.
            record_type:
              $ref: "#/components/schemas/record_type"
            request_id:
              type: string
              description: Identificador de la petición como referencia para el soporte técnico.
              example: "2cc8ef846029ec69613711ad1d85f6dfebf16ffb"
            fiscal_year:
              type: integer
              description: Año fiscal de la factura.
            full_invoice_number:
              type: string
              description: Número de la factura registrada.
            issue_date:
              type: string
              format: date
              example: "2025-09-15"
              description: Fecha de expedición del registro de facturación.
            created_at:
              type: string
              format: date-time
              example: "2025-09-15T07:35:24.992854Z"
              description: Fecha y hora de creación de la factura en nuestro sistema.
            fingerprint:
              nullable: true
              type: string
              description: Huella SHA-256 del registro de facturación registrado.
            csv:
              nullable: true
              type: string
              description: Código Seguro de Verificación del registro de facturación.
            vf_post_status:
              $ref: "#/components/schemas/vf_post_status"
            vf_record_registration_status:
              $ref: "#/components/schemas/vf_record_registration_status"
            has_warnings:
              type: boolean
              description: Indica si el registro contiene errores que deban ser subsanados.
              example: false
            vf_error_descriptions:
              nullable: true
              type: string
              description: Cadena con la descripción de los errores devueltos por Veri*Factu.
            next_request_waiting_time:
              type: integer
              description: Tiempo que se debe esperar en segundos para que la empresa cliente pueda enviar una nueva petición.
            next_request_datetime:
              type: string
              format: date-time
              example: "1977-04-22T06:00:00Z"
              description: Fecha y hora en la que la empresa cliente pueda enviar una nueva petición en formato ISO-8601 (ej.- 1977-04-22T06:00:00Z) con zona horaria UTC.
            qr_value:
              type: string
              nullable: true
              format: uri
              description: URL que debe mostrarse en el QR de las facturas procesadas con Veri*Factu. Esta URL sirve para que el receptor de la factura pueda validar que esta ha sido correctamente enviada a Veri*Factu. Este campo será `null` cuando Veri*Factu rechace el registro de facturación.
            qr_image:
              type: string
              nullable: true
              format: byte
              description: Imagen del QR (PNG) en formato Base64. Este campo será `null` cuando Veri*Factu rechace el registro de facturación.
            xml_contents:
              type: string
              nullable: true
              format: byte
              description: XML del registro de facturación en formato Base64. Cuando la factura sea enviada *en diferido* este campo será `null`, ya que la generación del XML se realiza cuando llegue el momento de enviar el registro a VeriFactu. Además, si el registro de facturación forma parte de un envío en diferido, el XML puede contener información sobre otros registros de facturación incluidos en el envío.

    CancelInvoiceRecordResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
              format: uuid
              description: |
                Identificador (ID) de la factura en el sistema de **KubiFACTU**. Se utiliza para hacer referencia al registro de facturación desde otros endpoints como, por ejemplo, el de anulación de facturas.
            request_id:
              type: string
              description: Identificador de la petición como referencia para el soporte técnico.
              example: "2cc8ef846029ec69613711ad1d85f6dfebf16ffb"
            fingerprint:
              nullable: true
              type: string
              description: Huella SHA-256 de la factura registrada.
            vf_post_status:
              $ref: "#/components/schemas/vf_post_status"
            vf_record_registration_status:
              $ref: "#/components/schemas/vf_record_registration_status"
            has_warnings:
              type: boolean
              description: Indica si el registro contiene errores que deban ser subsanados.
              example: false
            vf_error_descriptions:
              nullable: true
              type: string
              description: Cadena con la descripción de los errores devueltos por Veri*Factu.
            next_request_waiting_time:
              type: integer
              description: Tiempo que se debe esperar en segundos para que la empresa cliente pueda enviar una nueva petición.
            next_request_datetime:
              type: string
              format: date-time
              example: "1977-04-22T06:00:00Z"
              description: Fecha y hora en la que la empresa cliente pueda enviar una nueva petición en formato ISO-8601 (ej.- 1977-04-22T06:00:00Z) con zona horaria UTC.

    InvoiceLite:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Identificador (ID) de la factura en el sistema de KubiFACTU.
        client_invoice_id:
          type: string
          nullable: true
          description: Identificador único de la factura dentro del sistema del cliente.
        record_type:
          $ref: "#/components/schemas/record_type"
        request_id:
          type: string
          description: Identificador de la petición como referencia para el soporte técnico.
          example: "2cc8ef846029ec69613711ad1d85f6dfebf16ffb"
        fiscal_year:
          type: integer
          description: Año fiscal de la factura.
          example: 2025
        full_invoice_number:
          type: string
          description: Número de la factura registrada.
          example: "F23-0000123"
        issue_date:
          type: string
          format: date
          example: "2025-09-15"
          description: Fecha de expedición del registro de facturación.
        created_at:
          type: string
          format: date-time
          example: "2025-09-15T07:35:24.992854Z"
          description: Fecha y hora de creación de la factura en nuestro sistema.
        fingerprint:
          nullable: true
          type: string
          description: Huella SHA-256 del registro de facturación registrado.
        csv:
          nullable: true
          type: string
          description: Código Seguro de Verificación del registro de facturación.
        vf_post_status:
          $ref: "#/components/schemas/vf_post_status"
        vf_record_registration_status:
          $ref: "#/components/schemas/vf_record_registration_status"
        has_warnings:
          type: boolean
          description: Indica si el registro contiene errores que deban ser subsanados.
          example: false
        vf_error_descriptions:
          nullable: true
          type: string
          description: Cadena con la descripción de los errores devueltos por Veri*Factu.

    ListInvoicesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/InvoiceLite"
        meta:
          type: object
          properties:
            per_page:
              type: integer
              description: Número de elementos por página en la respuesta.
              example: 50
            next_page_cursor:
              type: string
              nullable: true
              description: Cursor para obtener la siguiente página de resultados. Será `null` si no hay más páginas.
              example: "eyJpZCI6IjE5NzctMDQtMjJUMDY6MDA6MDBaIn0"
            prev_page_cursor:
              type: string
              nullable: true
              description: Cursor para obtener la página anterior de resultados. Puede ser `null`.
              example: "ffN6eRJ0i2YPRA7C51eYNkLt8HIubpW9RDrFk77"
            has_more:
              type: boolean
              description: Indica si hay más resultados para seguir paginando.
              example: true

    CreateClientCompanyResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
              format: uuid
              description: Identificador único de la empresa creada.
              example: "9dcccd85-496d-4ed8-8f78-edfacac68964"
            company_name:
              type: string
              description: Nombre de la empresa.
              example: "Empresa de ejemplo"
            tax_id_number:
              type: string
              description: NIF/CIF de la empresa.
              example: "S6271969E"
            email:
              type: string
              format: email
              description: Correo electrónico de la empresa.
              example: "empresa@pruebas.net"
            api_key:
              type: string
              description: API Key generada para la empresa.
              example: "Xxv3en85OJOtI7Q6XFNGuA3FPwDNsnhk1kbtlQ5RgRSAdoo47eSGGYbgfLs8Qf2obGJluvY28a0tIqeM1UjzdbHDSDp1Q0fNX9sz"

    GetSIFsResponse:
      type: object
      properties:
        data:
          type: array
          description: Array con la lista de SIFs asociados a la empresa.
          items:
            $ref: "#/components/schemas/sif"

    CreateSIFResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/sif"

    sif:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Identificador único del SIF.
          example: "9dccd6c6-08f8-490d-a370-bfef724c0855"
        company_name:
          type: string
          description: Nombre de la empresa asociada al SIF.
          example: "Empresa de ejemplo"
        tax_id_number:
          type: string
          description: NIF/CIF de la empresa asociada al SIF.
          example: "S6271969E"
        other_country_code:
          $ref: "#/components/schemas/other_country_code"
        other_tax_id_type_key:
          $ref: "#/components/schemas/other_tax_id_type_key"
        other_tax_id_number:
          type: string
          description: >
            Número de identificación en el país de residencia de la empresa. Ejemplo: `L74JF44L2` para una empresa de `DE`.
        name:
          type: string
          description: Nombre del SIF.
          example: "SIF 0001"
        sif_id:
          type: string
          description: Identificador del SIF para Veri*Factu.
          example: "DC"
        version:
          type: string
          description: Versión del SIF.
          example: "1.0.0"
        installation_number:
          type: string
          description: Número de instalación asociado al SIF.
          example: "BM1WJ36SS5MOL6LWPLHTMBFUOTQO5TNDU2ILL34JG6FLSVAUMD1I0G41AS7PC870QAHHIOWJSBPKRB2XELRCUWO4TSJ8XY0UPAML"
        only_verifactu_use_key:
          type: string
          description: |
            Indica si el SIF es solo para uso de Veri*Factu.
            Valores posibles: `S` (Sí), `N` (No).
          example: "S"
        multi_ot_key:
          type: string
          description: |
            Indica si el SIF admite operaciones de registros de facturación de múltiples empresas.
            Valores posibles: `S` (Sí), `N` (No).
          example: "N"
        supporting_multiple_ots_key:
          type: string
          description: |
            Indica si el SIF soporta actualmente el procesamiento de registros de facturación de múltiples empresas.
            Valores posibles: `S` (Sí), `N` (No).
          example: "N"

    invoice_type_key:
      type: string
      description: |
        Especificación del tipo de factura: factura completa, factura simplificada, factura emitida en sustitución de facturas simplificadas o factura rectificativa.
        - `F1`: Factura (art. 6, 7.2 y 7.3 del RD 1619/2012).
        - `F2`: Factura Simplificada y Facturas sin identificación del destinatario art. 6.1.d) RD 1619/2012.
        - `F3`: Factura emitida en sustitución de facturas simplificadas facturadas y declaradas.
        - `R1`: Factura Rectificativa (Error fundado en derecho y Art. 80 Uno Dos y Seis LIVA)
        - `R2`: Factura Rectificativa (Art. 80.3)
        - `R3`: Factura Rectificativa (Art. 80.4)
        - `R4`: Factura Rectificativa (Resto)
        - `R5`: Factura Rectificativa en facturas simplificadas
      example: "F1"
      enum:
        - F1
        - F2
        - F3
        - R1
        - R2
        - R3
        - R4
        - R5

    other_tax_id_type_key:
      type: string
      description: |
        Clave para identificar el tipo de documento. Los valores posibles son:

        - `02`: **NIF-IVA**: Número de Identificación Fiscal para IVA.
        - `03`: **Pasaporte**: Documento oficial que acredita la identidad y nacionalidad del portador.
        - `04`: **Documento oficial de identificación expedido por el país o territorio de residencia**.
        - `05`: **Certificado de residencia**: Documento que acredita la residencia fiscal.
        - `06`: **Otro documento probatorio**: Documento adicional que sirve como prueba de identidad.
        - `07`: **No censado**: El receptor no está registrado en el censo fiscal.
      enum:
        - "02"
        - "03"
        - "04"
        - "05"
        - "06"
        - "07"

    other_country_code:
      type: string
      description: >
        Código del país en formato [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-2). Sólo es necesario rellenarlo **si el sujeto no es nacional**. El código de país debe ser `ES` si `other_tax_id_type_key` es `07 (no censado)`. Ejemplo: `DE`

    affected_by_incidence_key:
      type: string
      description: |
        Indicador que especifica si la remisión voluntaria del registro de facturación se ha visto afectada por algún tipo de incidencia técnica (ausencia de corriente eléctrica, problemas de conexión a Internet, fallo del sistema informático de facturación, etc.). Si no se informa este campo se entenderá que tiene valor “N”.

        - `S`: Sí, la remisión de este registro de facturación se ha visto afectada por aglún tipo de incidencia.
        - `N`: No
      enum:
        - S
        - N

    previous_rejection_key:
      type: string
      description: |
        Indicador que especifica que se está generando —para volverlo a remitir— un nuevo registro de facturación de alta subsanado tras haber sido rechazado en su remisión inmediatamente anterior, es decir, en el último envío que contenía ese registro de facturación de alta rechazado. Si no se informa este campo se entenderá que tiene valor "N".

        - `S`: Sí, se está generando un nuevo registro de facturación de alta subsanado tras haber sido rechazado en su remisión inmediatamente anterior.
        - `N`: No, se trata de un alta normal/inicial.
      enum:
        - S
        - N

    correction_key:
      type: string
      description: |
        Indicador que especifica que se trata de una subsanación de un registro de facturación de alta previamente generado y exitente en la AEAT. El contenido de este nuevo registro de facturación es el correcto y el que deberá tenerse en cuenta. Si no se informa este campo, se entenderá que tiene valor `N` (alta normal/inicial).

        - `S`: Sí, se trata de una subsanación de un registro de facturación anterior que existe en la AEAT.
        - `N`: No, se trata de un alta normal/inicial.
      enum:
        - S
        - N

    simplified_invoice_key:
      type: string
      description: |
        Factura simplificada Articulo 7.2 Y 7.3 RD 1619/2012.

        Si no se informa este campo se entenderá que tiene valor `N`.

        Sólo se podrá rellenar con `S` si `invoice_type_key` es `F1`, `F3`, `R1`, `R2`, `R3` o `R4`.

        - `S`: Sí
        - `N`: No
      enum:
        - S
        - N

    without_recipient_identification_key:
      type: string
      description: |
        Factura sin identificación del destinatario según el artículo 6.1.d del RD 1619/2012.

        Si no se informa este campo, se entenderá que tiene valor `"N"`.

        Sólo se podrá rellenar con `"S"` si `invoice_type_key` es `F2` o `R5`.

        - `S`: Sí
        - `N`: No
      enum:
        - S
        - N

    macrodata_key:
      type: string
      description: |
        Identificador que especifica aquellas facturas con base o importe >= |100.000.000,00| (valor absoluto).

        Si no se informa este campo, se entenderá que tiene valor `"N"`.

        Sólo se podrá rellenar con `"S"` si `invoice_type_key` es `F2` o `R5`.

        - `S`: Sí
        - `N`: No
      enum:
        - S
        - N

    coupon_key:
      type: string
      description: |
        Identificador que especifica si tiene minoración de la base imponible por la concesión de cupones, bonificaciones o descuentos cuando solo se expide el original de la factura.
        Si no se informa este campo, se entenderá que tiene valor `"N"`.

        Sólo se podrá rellenar con `"S"` si `invoice_type_key` es `R5` o `R1`.
      enum:
        - "S"
        - "N"
      example: "N"

    tax_type_key:
      type: string
      description: |
        Impuesto de aplicación. Los valores posibles son:

        - `01`: Impuesto sobre el Valor Añadido (IVA).
        - `02`: Impuesto sobre la Producción, los Servicios y la Importación (IPSI) de Ceuta y Melilla.
        - `03`: Impuesto General Indirecto Canario (IGIC).
        - `05`: Otros.
      enum:
        - "01"
        - "02"
        - "03"
        - "05"

    vat_tax_regime_key:
      type: string
      description: |
        Clave que identificará el tipo de régimen del impuesto o una operación con trascendencia tributaria en el contexto del IVA. Este campo no debe incluirse si se está incluyendo `igic_tax_regime_key` o `tax_type_key` tiene un valor diferente de `01`. Los valores posibles son:

        - `01`: Operación de régimen general.
        - `02`: Exportación.
        - `03`: Operaciones a las que se aplique el régimen especial de bienes usados, objetos de arte, antigüedades y objetos de colección.
        - `04`: Régimen especial del oro de inversión.
        - `05`: Régimen especial de las agencias de viajes.
        - `06`: Régimen especial grupo de entidades en IVA (Nivel Avanzado).
        - `07`: Régimen especial del criterio de caja.
        - `08`: Operaciones sujetas al IPSI / IGIC (Impuesto sobre la Producción, los Servicios y la Importación / Impuesto General Indirecto Canario).
        - `09`: Facturación de las prestaciones de servicios de agencias de viaje que actúan como mediadoras en nombre y por cuenta ajena (D.A.4ª RD1619/2012).
        - `10`: Cobros por cuenta de terceros de honorarios profesionales o de derechos derivados de la propiedad industrial, de autor u otros por cuenta de sus socios, asociados o colegiados efectuados por sociedades, asociaciones, colegios profesionales u otras entidades que realicen estas funciones de cobro.
        - `11`: Operaciones de arrendamiento de local de negocio.
        - `14`: Factura con IVA pendiente de devengo en certificaciones de obra cuyo destinatario sea una Administración Pública.
        - `15`: Factura con IVA pendiente de devengo en operaciones de tracto sucesivo.
        - `17`: Operación acogida a alguno de los regímenes previstos en el Capítulo XI del Título IX (OSS e IOSS).
        - `18`: Recargo de equivalencia.
        - `19`: Operaciones de actividades incluidas en el Régimen Especial de Agricultura, Ganadería y Pesca (REAGYP).
        - `20`: Régimen simplificado.
      enum:
        - "01"
        - "02"
        - "03"
        - "04"
        - "05"
        - "06"
        - "07"
        - "08"
        - "09"
        - "10"
        - "11"
        - "14"
        - "15"
        - "17"
        - "18"
        - "19"
        - "20"

    igic_tax_regime_key:
      type: string
      description: |
        Clave que identificará el tipo de régimen del impuesto o una operación con trascendencia tributaria en el contexto del IGIC. Este campo no debe incluirse se se está incluyendo `vat_tax_regime_key`. Los valores posibles son:

        - `01`: Operación de régimen general.
        - `02`: Exportación.
        - `03`: Operaciones a las que se aplique el régimen especial de bienes usados, objetos de arte, antigüedades y objetos de colección.
        - `04`: Régimen especial del oro de inversión.
        - `05`: Régimen especial de las agencias de viajes.
        - `06`: Régimen especial grupo de entidades en IGIC (Nivel Avanzado).
        - `07`: Régimen especial del criterio de caja.
        - `08`: Operaciones sujetas al IPSI / IVA (Impuesto sobre la Producción, los Servicios y la Importación / Impuesto sobre el Valor Añadido).
        - `09`: Facturación de las prestaciones de servicios de agencias de viaje que actúan como mediadoras en nombre y por cuenta ajena (D.A.4ª RD1619/2012).
        - `10`: Cobros por cuenta de terceros de honorarios profesionales o de derechos derivados de la propiedad industrial, de autor u otros por cuenta de sus socios, asociados o colegiados efectuados por sociedades, asociaciones, colegios profesionales u otras entidades que realicen estas funciones de cobro.
        - `11`: Operaciones de arrendamiento de local de negocio.
        - `14`: Factura con IGIC pendiente de devengo en certificaciones de obra cuyo destinatario sea una Administración Pública.
        - `15`: Factura con IGIC pendiente de devengo en operaciones de tracto sucesivo.
        - `17`: Régimen especial de comerciante minorista.
        - `18`: Régimen especial del pequeño empresario o profesional.
        - `19`: Operaciones interiores exentas por aplicación artículo 25 Ley 19/1994.
      enum:
        - "01"
        - "02"
        - "03"
        - "04"
        - "05"
        - "06"
        - "07"
        - "08"
        - "09"
        - "10"
        - "11"
        - "14"
        - "15"
        - "17"
        - "18"
        - "19"

    operation_type_key:
      type: string
      description: |
        Código que identifica el tipo de operación según su sujeción o exención tributaria. Los valores posibles son:

        - `S1`: Operación Sujeta y No exenta - Sin inversión del sujeto pasivo.
        - `S2`: Operación Sujeta y No exenta - Con Inversión del sujeto pasivo.
        - `N1`: Operación No Sujeta artículo 7, 14, otros.
        - `N2`: Operación No Sujeta por Reglas de localización.
      enum:
        - "S1"
        - "S2"
        - "N1"
        - "N2"

    exemption_cause_key:
      type: string
      description: |
        Causa de la exención. Los valores posibles son:

        - `E1`: Exenta por el artículo 20.
        - `E2`: Exenta por el artículo 21.
        - `E3`: Exenta por el artículo 22.
        - `E4`: Exenta por los artículos 23 y 24.
        - `E5`: Exenta por el artículo 25.
        - `E6`: Exenta por otros.
      enum:
        - "E1"
        - "E2"
        - "E3"
        - "E4"
        - "E5"
        - "E6"

    rectificative_type_key:
      type: string
      description: |
        Campo que identifica si el tipo de factura rectificativa es por **sustitución** o por **diferencias**.

        - `S`: Por sustitución.
        - `I`: Por diferencias.
      enum:
        - "S"
        - "I"

    vf_post_status:
      nullable: true
      type: string
      description: |
        Este campo indica si la factura ha sido enviada a Veri*Factu, pero no indica si el registro ha sido aceptado.
        Los valores posibles son:

        - `success`: Se ha realizado el envío a Veri*Factu.
        - `failure`: No se ha podido hacer el envío a Veri*Factu.
      enum:
        - "success"
        - "failure"

    vf_record_registration_status:
      nullable: true
      type: string
      description: |
        Valores posibles para el campo `vf_record_registration_status`, que indican el estado del registro en Veri*Factu.

        - `success`: El registro ha sido correctamente registrado en Veri*Factu.
        - `accepted_with_errors`: El registro ha sido registrado en Veri*Factu, pero tiene **errores que deben ser subsanados**.
        - `failed`: El registro tiene errores no aceptables y ha sido **rechazado** por Veri*Factu.
        - `not_registered`: No se ha encontrado el registro en Veri*Factu.
        - `cancelled`: El registro está anulado.
        - `unknown`: Se desconoce el estado del registro.
      enum:
        - "success"
        - "accepted_with_errors"
        - "failed"
        - "not_registered"
        - "cancelled"
        - "unknown"

    record_type:
      type: string
      description: |
        Tipo de registro de facturación:

        - `creation`: Se trata de un registro de alta.
        - `cancellation`: Se trata de un registro de anulación.
      enum:
        - "creation"
        - "cancellation"

    ValidationErrorResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            error:
              type: object
              properties:
                message:
                  type: string
                  description: Mensaje general del error.
                  example: "The given data was invalid."
                errors:
                  type: object
                  additionalProperties:
                    type: array
                    items:
                      type: string
                  description: |
                    Lista de errores de validación organizados por campo.
                    Cada clave es el nombre del campo asociado al error y contiene un array de mensajes.
                  example:
                    invoice_exists:
                      - "A correctly sent invoice already exists with the indicated invoice number and fiscal for the provided SIF. Existing invoice ID: [9db6bb78-6799-4abb-b9a0-22d127c543ed]."
                    incorrect_total_quota:
                      - "The total quota of the invoice does not match the total tax quota and equalization_tax_quota of the lines. Calculated total quota: [26.25]."
                    incorrect_total_amount:
                      - "The total amount of the invoice does not match the total tax base of the lines. Calculated total amount: [151.25]."
                details:
                  type: object
                  properties:
                    request_id:
                      type: string
                      format: uuid
                      description: Identificador único de la solicitud para rastreo.
                      example: "9ded9e2c-d59e-4432-a926-652cbcfac365"

    UnauthorizedApiKeyErrorResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            error:
              type: object
              properties:
                code:
                  type: string
                  description: Código de error que indica el tipo de problema.
                  example: "E-UNAUTH-APIKEY"
                message:
                  type: string
                  description: Mensaje detallado del error.
                  example: "No client with API-KEY '5tVySMGJOpq8HfMgIX28Qz6kF0dFOoq37x55PLZcWsGeGeYkNgJyAcRTlFJ5NbVoDRm8qtCywEoiN3A9JkBanMBXYmxiqR3BItxgxx' was found."
                http_code:
                  type: integer
                  description: Código HTTP asociado al error.
                  example: 403
                errors:
                  type: object
                  nullable: true
                  description: |
                    Detalles adicionales del error. Puede ser `null` si no hay información específica.
                  example: null
                details:
                  type: object
                  properties:
                    request_id:
                      type: string
                      description: Identificador único de la solicitud para rastreo.
                      example: "2cc8ef846029ec69613711ad1d85f6dfebf16ffb"

    NotFoundErrorResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            error:
              type: object
              properties:
                message:
                  type: string
                  description: Mensaje detallado del error.
                  example: "Client Company with id [0195fa87-a315-710a-8aa2-25e1d690f6tr] not found."
                errors:
                  type: object
                  nullable: true
                  description: |
                    Detalles adicionales del error. Puede ser `null` si no hay información específica.
                  example: null
                details:
                  type: object
                  properties:
                    request_id:
                      type: string
                      description: Identificador único de la solicitud para rastreo.
                      example: "2cc8ef846029ec69613711ad1d85f6dfebf16ffb"


  securitySchemes:
    client_api_key:
      type: apiKey
      name: X-Qbikode-ClientApiKey
      in: header
      description: |
        API-KEY de la empresa que hace la petición. Este dato se puede consultar en el panel web, accediendo a la sección _Empresas_ y accediendo a la ficha de la empresa en.

    owner_api_key:
      type: apiKey
      name: X-Qbikode-UserApiKey
      in: header
      description: |
        API-KEY del intermediario que hace la petición. Este dato se puede consultar en el panel web, en la página de _Perfil de usuario_.
