openapi: 3.0.0
info:
  title: Kubifactu API
  description: API para el procesamiento y gestión de facturas de Veri*Factu
  version: 1.0.0
  contact:
    email: soporte@kubifactu.com
    name: Soporte KubiFACTU
    url: https://apidocs.kubifactu.com

servers:
  - url: https://api.kubifactu.com
    description: Servidor de producción
  - url: https://devapi.kubifactu.com
    description: Servidor de pruebas

paths:
  /api/invoices:
    get:
      summary: "Listar registros de facturación con filtros"
      description: |
        Obtiene un listado **paginado** de registros de facturación pertenecientes a la empresa autenticada. Cada elemento incluye una **versión reducida** de la información que se obtiene en consultas individuales o cuando se crean nuevos registros de facturación, con los totales almacenados y el desglose fiscal completo.

        Además se devuelve una sección `meta` para la gestión de la paginación.

        El valor devuelto en `meta.next_page_cursor` sirve para solicitar la siguiente página y `meta.prev_page_cursor` para retroceder. Si `meta.has_more` es `false`, no hay más elementos.
      operationId: "listInvoices"
      parameters:
        - name: date_from
          in: query
          required: true
          description: Fecha de inicio del rango de creación de las facturas (incluida). Formato `YYYY-MM-DD`.
          schema:
            type: string
            format: date
            example: "2026-01-01"
        - name: date_to
          in: query
          required: true
          description: Fecha de fin del rango de creación de las facturas (incluida). Debe ser igual o posterior a `date_from`.
          schema:
            type: string
            format: date
            example: "2026-01-31"
        - name: sif_id
          in: query
          required: false
          description: ID del SIF emisor sobre el que se quieren buscar registros de facturación.
          schema:
            type: string
            example: "A3DEAECE-8698-4E3D-A0A3-A17B523B9703"
        - name: vf_post_status
          in: query
          required: false
          description: |
            Filtrar registros de facturación por el estado de envío a Veri*Factu.

            Ver valores posibles para `vf_post_status` en la [respuesta de envío de registros de facturación](/openapi-reference/enviar-registro-de-facturación#response-data-vf-post-status).
          schema:
            type: string
            example: "failure"
        - name: vf_record_registration_status
          in: query
          required: false
          description: |
            Filtrar registros de facturación por el estado del registro reportado por Veri*Factu.

            Ver valores posibles para `vf_record_registration_status` en la [respuesta de envío de registros de facturación](/openapi-reference/enviar-registro-de-facturación#response-data-vf-record-registration-status).

            **Nota:** Este parámetro se ignora si `with_problems` está presente y es `1`.
          schema:
            type: string
            example: "accepted_with_errors"
        - name: with_problems
          in: query
          required: false
          description: |
            Filtrar registros de facturación con problemas de registro. Cuando este parámetro es `1`, se devuelven únicamente los registros cuyo `vf_record_registration_status` no es correcto o anulado.

            Este filtro es útil para obtener facturas que requieren atención: `failed` (Incorrecto), `accepted_with_errors` (Aceptado con Errores), `not_registered` (No Registrado) y `unknown` (Desconocido).

            **Este parámetro tiene prioridad sobre `vf_record_registration_status`**: si `with_problems=1`, el valor de `vf_record_registration_status` será ignorado.
          schema:
            type: boolean
            example: 1
        - name: per_page
          in: query
          required: false
          description: Número de elementos por página (máximo 50). Valor por defecto 50.
          schema:
            type: integer
            minimum: 1
            maximum: 50
            example: 25
        - name: cursor
          in: query
          required: false
          description: Cursor para la paginación basada en cursor. Use el valor devuelto en `meta.next_page_cursor`.
          schema:
            type: string
            example: "eyJpZCI6IjE5NzctMDQtMjJUMDY6MDA6MDBaIn0"
      responses:
        '200':
          description: "Listado paginado de registros de facturación."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListInvoicesResponse'
        '422':
          description: "Errores de validación."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '403':
          description: "No autorizado. La API-KEY proporcionada no es válida."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedApiKeyErrorResponse'
        '500':
          description: "Error interno del servidor."
      security:
        - client_api_key: []
    post:
      summary: "Enviar registro de facturación"
      description: |
        Generación y envío síncrono de un nuevo registro de facturación.

        Antes de crear el registro, la API comprueba la cadena de la misma empresa cliente y el mismo SIF. Si existe un registro anterior pendiente de envío o de resolver su resultado, devuelve HTTP `409` con el código `E-INVOICE-SUBMISSION-BLOCKED`. El nuevo registro no se crea, no se envía a AEAT y no queda en cola.
      operationId: "createInvoiceRecord"
      x-mint:
        content: |
          <Info>
          `lines` continúa admitiéndose como alias de retrocompatibilidad, sin una fecha de retirada prevista. Las nuevas integraciones deben utilizar `tax_breakdown`. No envíes ambas propiedades en una misma factura, ya que la petición será rechazada y el error de validación se devolverá en las dos claves. En los lotes, cada factura puede utilizar individualmente la propiedad canónica o el alias. En los endpoints KubiBAI, ambas propiedades se incluyen dentro de `invoice_data`.
          </Info>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateInvoiceRecordRequest"
      responses:
        '200':
          description: "Factura enviada con éxito."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateInvoiceRecordResponse'
        '409':
          description: |
            Un registro anterior de la misma empresa cliente y el mismo SIF bloquea la cadena. Consulta o recupera el registro identificado por `blocking_invoice_id` mediante los endpoints existentes y vuelve a solicitar el nuevo registro cuando deje de bloquear la cadena. Un rechazo explícito definitivo de AEAT no bloquea por sí solo nuevos registros.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceSubmissionBlockedErrorResponse'
              example:
                data:
                  error:
                    code: E-INVOICE-SUBMISSION-BLOCKED
                    message: "Invoice submission is blocked by record 9db6bb78-6799-4abb-b9a0-22d127c543ed (unresolved_submission)."
                    errors:
                      reason: unresolved_submission
                      blocking_invoice_id: "9db6bb78-6799-4abb-b9a0-22d127c543ed"
                    details: null
        '422':
          description: |
            Errores de validación.

            Una subsanación con `correction_key = S` y `previous_rejection_key = X` devuelve el error en `previous_rejection_key` si en KubiFACTU ya existe el alta de la misma factura registrada en la AEAT o pendiente de envío. Consulta en la descripción del campo `previous_rejection_key` qué valor corresponde en cada caso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
              examples:
                registered_original:
                  summary: "Alta original registrada en la AEAT"
                  value:
                    data:
                      error:
                        message: "The given data was invalid."
                        errors:
                          previous_rejection_key:
                            - "AEAT already holds this invoice, so previous_rejection_key cannot be X. To correct the registered record, send the correction with previous_rejection_key N. Existing invoice ID: [9db6bb78-6799-4abb-b9a0-22d127c543ed]."
                        details:
                          request_id: "9ded9e2c-d59e-4432-a926-652cbcfac365"
                pending_original:
                  summary: "Alta original pendiente de envío"
                  value:
                    data:
                      error:
                        message: "The given data was invalid."
                        errors:
                          previous_rejection_key:
                            - "The original record of this invoice is still pending submission to AEAT, so it cannot be corrected with previous_rejection_key X yet. Wait for its submission result. Existing invoice ID: [9db6bb78-6799-4abb-b9a0-22d127c543ed]."
                        details:
                          request_id: "9ded9e2c-d59e-4432-a926-652cbcfac365"
        '403':
          description: "No autorizado. La API-KEY proporcionada no es válida."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedApiKeyErrorResponse'
        '500':
          description: "Error interno del servidor."
      security:
        - client_api_key: []

  /api/invoices/deferred:
    post:
      summary: "Enviar registro de facturación diferido"
      description: "Generación de un nuevo registro de facturación diferido."
      operationId: "createDeferredInvoiceRecord"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateInvoiceRecordRequest"
      responses:
        '200':
          description: "Factura recibida con éxito."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateInvoiceRecordResponse'
        '422':
          description: |
            Errores de validación.

            Una subsanación con `correction_key = S` y `previous_rejection_key = X` devuelve el error en `previous_rejection_key` si en KubiFACTU ya existe el alta de la misma factura registrada en la AEAT o pendiente de envío. Consulta en la descripción del campo `previous_rejection_key` qué valor corresponde en cada caso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
              examples:
                registered_original:
                  summary: "Alta original registrada en la AEAT"
                  value:
                    data:
                      error:
                        message: "The given data was invalid."
                        errors:
                          previous_rejection_key:
                            - "AEAT already holds this invoice, so previous_rejection_key cannot be X. To correct the registered record, send the correction with previous_rejection_key N. Existing invoice ID: [9db6bb78-6799-4abb-b9a0-22d127c543ed]."
                        details:
                          request_id: "9ded9e2c-d59e-4432-a926-652cbcfac365"
                pending_original:
                  summary: "Alta original pendiente de envío"
                  value:
                    data:
                      error:
                        message: "The given data was invalid."
                        errors:
                          previous_rejection_key:
                            - "The original record of this invoice is still pending submission to AEAT, so it cannot be corrected with previous_rejection_key X yet. Wait for its submission result. Existing invoice ID: [9db6bb78-6799-4abb-b9a0-22d127c543ed]."
                        details:
                          request_id: "9ded9e2c-d59e-4432-a926-652cbcfac365"
        '403':
          description: "No autorizado. La API-KEY proporcionada no es válida."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedApiKeyErrorResponse'
        '500':
          description: "Error interno del servidor."
      security:
        - client_api_key: []

  /api/invoices/batch:
    post:
      summary: "Enviar registros de facturación en lote"
      description: |
        Registra entre 1 y 500 registros de facturación que **serán procesados en diferido**.

        La respuesta confirma la recepción del lote, pero no incluye los identificadores ni el resultado individual de los registros. Tampoco confirma su aceptación por Veri*Factu. El resultado de cada registro se obtiene posteriormente mediante la URL indicada en su campo `callback_url` o consultando el registro de facturación.

        Si algún registro no supera la validación, la respuesta contiene los errores indexados según su posición en el array, por ejemplo, `invoices.0.sif_id`.

        ### Resultado mediante callback

        El campo `callback_url` se configura individualmente en cada elemento de `invoices`. Cuando los registros han sido procesados, KubiFACTU agrupa los resultados de una misma empresa cliente y URL de callback, y realiza una petición `POST` con contenido `application/json`.

        El cuerpo del callback siempre es un array y puede contener uno o varios registros. Un callback no tiene por qué corresponder exactamente con el lote original, por lo que la integración debe correlacionar cada resultado mediante `id` o `client_invoice_id`, sin depender de su posición en el array.

        ```json
        [
          {
            "id": "7d76c4a6-6603-4fc6-946a-8b9ffcc93480",
            "client_invoice_id": "FACTURA-2026-0042",
            "record_type": "creation",
            "sif_id": "0995c42c-6708-44fb-bfbf-b363a5fe873e",
            "sender_company_name": "Ferretería Ejemplo, S.L.",
            "sender_tax_id_number": "B12345678",
            "fiscal_year": 2026,
            "full_invoice_number": "F-2026-0042",
            "fingerprint": "8f3d7aa5530f5f6c3a96a5c8a9516a7fd9ce90b9bf3b60375682d8b45ca72867",
            "csv": "CSV-DE-EJEMPLO",
            "vf_post_status": "success",
            "vf_record_registration_status": "success",
            "has_warnings": false,
            "vf_error_descriptions": null,
            "vf_response_body": "PHhtbD5SZXNwdWVzdGEgZGUgZWplbXBsbzwveG1sPg==",
            "qr_value": "https://www2.agenciatributaria.gob.es/wlpl/TIKE-CONT/ValidarQR?nif=B12345678&numserie=F-2026-0042&fecha=01-09-2026&importe=121.00",
            "qr_image_url": "https://api.kubifactu.com/api/invoices/7d76c4a6-6603-4fc6-946a-8b9ffcc93480/qr-image",
            "xml_url": "https://api.kubifactu.com/api/invoices/7d76c4a6-6603-4fc6-946a-8b9ffcc93480/xml"
          }
        ]
        ```

        El contrato completo de cada elemento se detalla en el campo `callback_url` de la petición. Este callback es independiente de la respuesta HTTP inmediata del endpoint.
      operationId: "createBatchOfInvoiceRecords"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBatchOfInvoicesRecordsRequest"
      responses:
        '200':
          description: "Lote recibido para su procesamiento diferido."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBatchOfInvoiceRecordsResponse'
        '422':
          description: |
            Errores de validación.

            Una subsanación con `correction_key = S` y `previous_rejection_key = X` devuelve el error en `invoices.<n>.previous_rejection_key` si en KubiFACTU ya existe el alta de la misma factura registrada en la AEAT o pendiente de envío. Consulta en la descripción del campo `previous_rejection_key` qué valor corresponde en cada caso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
              examples:
                registered_original:
                  summary: "Alta original registrada en la AEAT"
                  value:
                    data:
                      error:
                        message: "The given data was invalid."
                        errors:
                          invoices.0.previous_rejection_key:
                            - "AEAT already holds this invoice, so previous_rejection_key cannot be X. To correct the registered record, send the correction with previous_rejection_key N. Existing invoice ID: [9db6bb78-6799-4abb-b9a0-22d127c543ed]."
                        details:
                          request_id: "9ded9e2c-d59e-4432-a926-652cbcfac365"
                pending_original:
                  summary: "Alta original pendiente de envío"
                  value:
                    data:
                      error:
                        message: "The given data was invalid."
                        errors:
                          invoices.0.previous_rejection_key:
                            - "The original record of this invoice is still pending submission to AEAT, so it cannot be corrected with previous_rejection_key X yet. Wait for its submission result. Existing invoice ID: [9db6bb78-6799-4abb-b9a0-22d127c543ed]."
                        details:
                          request_id: "9ded9e2c-d59e-4432-a926-652cbcfac365"
        '403':
          description: "No autorizado. La API-KEY proporcionada no es válida."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedApiKeyErrorResponse'
        '500':
          description: "Error interno del servidor."
      security:
        - client_api_key: []

  /api/invoices/{invoiceId}:
    get:
      summary: Obtener registro de facturación
      description: |
        Obtener información sobre un registro de facturación.
        > Este endpoint **no hace consulta a Veri*Factu**; los datos se devuelven directamente desde nuestra base de datos.
      operationId: "getInvoiceRecord"
      parameters:
        - name: invoiceId
          in: path
          description: |
            ID de la factura. Este ID se obtiene en la respuesta a las altas de registros de facturación o puede usarse el identificador único de la factura **dentro del sistema del cliente** si en la creación del registro de facturación se hizo uso del campo `client_invoice_id`. El ID también se puede obtener desde el panel web, accediendo a la factura en el campo **ID DE KUBIFACTU**.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Datos de la factura."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateInvoiceRecordResponse'
        '403':
          description: "No autorizado. La API-KEY proporcionada no es válida."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedApiKeyErrorResponse'
        '500':
          description: "Error interno del servidor."
      security:
        - client_api_key: []

  /api/invoices/{invoiceId}/xml:
    get:
      summary: Descargar XML del registro de facturación
      description: |
        Descarga el XML del registro de facturación indicado por el campo `xml_url` de las respuestas de factura y callbacks.

        La petición debe hacerse con el header HTTP `X-Qbikode-ClientApiKey`.
      operationId: "downloadInvoiceRecordXml"
      parameters:
        - name: invoiceId
          in: path
          description: |
            ID de la factura en KubiFACTU o identificador único de la factura dentro del sistema del cliente (`client_invoice_id`) si se informó al crear el registro de facturación.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: XML del registro de facturación.
          content:
            application/xml:
              schema:
                type: string
                format: binary
        '403':
          description: "No autorizado. La API-KEY proporcionada no es válida."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedApiKeyErrorResponse'
        '404':
          description: "No encontrado. La factura no existe para la empresa autenticada o el XML aún no está disponible."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        '500':
          description: "Error interno del servidor."
      security:
        - client_api_key: []

  /api/invoices/{invoiceId}/qr-image:
    get:
      summary: Descargar imagen QR del registro de facturación
      description: |
        Descarga la imagen PNG del código QR indicada por el campo `qr_image_url` de las respuestas de factura y callbacks.

        La petición debe hacerse con el header HTTP `X-Qbikode-ClientApiKey`.
      operationId: "downloadInvoiceRecordQrImage"
      parameters:
        - name: invoiceId
          in: path
          description: |
            ID de la factura en KubiFACTU o identificador único de la factura dentro del sistema del cliente (`client_invoice_id`) si se informó al crear el registro de facturación.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Imagen PNG del código QR.
          content:
            image/png:
              schema:
                type: string
                format: binary
        '403':
          description: "No autorizado. La API-KEY proporcionada no es válida."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedApiKeyErrorResponse'
        '404':
          description: "No encontrado. La factura no existe para la empresa autenticada o el estado del registro no permite mostrar QR."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        '500':
          description: "Error interno del servidor."
      security:
        - client_api_key: []

  /api/invoices/{invoiceId}/query:
    get:
      summary: Consultar registro de facturación con Veri*Factu
      description: |
        Obtiene el estado de un registro de facturación haciendo previamente una consulta a Veri*Factu. Se llama a la URL de callback del registro si se incluyó en el momento de su alta. [Ver formato de la llamada de callback](enviar-registro-de-facturación#body-callback-url).

        La consulta sólo actualiza el registro solicitado cuando el resultado permite confirmar su identidad y huella, o confirma que no está registrado mediante un SinDatos válido. Una consulta fallida o inconcluyente no confirma la aceptación ni permite dar por resuelta una conciliación pendiente. Un rechazo confirmado se conserva como rechazo.

        La AEAT no devuelve el CSV en las consultas, así que una consulta nunca lo informa ni lo recupera. Si confirma un registro cuyo resultado de envío no llegó, el registro queda con su estado actualizado y el campo `csv` vacío. Usa `vf_record_registration_status` para saber si el registro está acreditado. [Leer más en la FAQ](/faq).
      operationId: "queryInvoiceRecord"
      parameters:
        - name: invoiceId
          in: path
          description: |
            ID de la factura. Este ID se obtiene en la respuesta a las altas de registros de facturación o puede usarse el identificador único de la factura **dentro del sistema del cliente** si en la creación del registro de facturación se hizo uso del campo `client_invoice_id`. El ID también se puede obtener desde el panel web, accediendo a la factura en el campo **ID DE KUBIFACTU**.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Datos de la factura tras haber sido actualizada con el estado registrado en Veri*Factu."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateInvoiceRecordResponse'
        '403':
          description: "No autorizado. La API-KEY proporcionada no es válida."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedApiKeyErrorResponse'
        '500':
          description: "Error interno del servidor."
      security:
        - client_api_key: []

  /api/invoices/{invoiceId}/resubmit:
    get:
      summary: Reenviar registro de facturación
      description: |
        Reenvía un registro de facturación a Veri*Factu sin volver a generarlo. Este endpoint es útil para registros que fallaron **por un problema técnico de conexión** (timeout, error del servidor o falta de respuesta) en el envío inicial.

        Ante un resultado incierto, consulta el estado del mismo registro antes de decidir reenviarlo. Un timeout identificable se guarda como `vf_post_status = failure` y `vf_record_registration_status = unknown`; por sí solo no activa la conciliación obligatoria.

        La conciliación obligatoria bloquea el reenvío con HTTP 409 y motivo `pending_reconciliation` hasta aclarar el resultado: se aplica a la marca interna `recovery_reconciliation_pending` y al caso de envío `success` con registro `unknown`, incluidos registros históricos. Los duplicados 3000/3001 y las respuestas inutilizables o desconocidas pueden exigir conciliación. El UUID de bloqueo puede ser el propio registro; los bloqueos por registros anteriores de la misma empresa cliente y SIF mantienen los motivos `pending_submission` y `unresolved_submission`.

        El flujo de comprobar el estado y confirmar el reenvío en dos clics corresponde al panel, no a este endpoint. La API conserva sus operaciones y autenticación y no impone la comprobación previa del panel para `failure` + `unknown` sin conciliación pendiente; los envíos iniciales directos mantienen la consulta inmediata cuando un timeout deja el estado en `unknown`. Los reintentos automáticos siguen respetando las esperas y el orden de la cadena. [Leer más en la FAQ](/faq).

        Si el registro ya tiene un CSV guardado, el reenvío no lo borra cuando la nueva respuesta de la AEAT no incluye uno (por ejemplo, ante un registro duplicado) ni cuando el envío falla sin respuesta. Un CSV nuevo sí sustituye al anterior.

        Se llama a la URL de callback del registro si se incluyó en el momento de su alta.
      operationId: "resubmitInvoiceRecord"
      parameters:
        - name: invoiceId
          in: path
          description: |
            ID de la factura. Este ID se obtiene en la respuesta a las altas de registros de facturación o puede usarse el identificador único de la factura **dentro del sistema del cliente** si en la creación del registro de facturación se hizo uso del campo `client_invoice_id`. El ID también se puede obtener desde el panel web, accediendo a la factura en el campo **ID DE KUBIFACTU**.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Registro de facturación reenviado con éxito."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateInvoiceRecordResponse'
        '409':
          description: |
            Reenvío bloqueado por conciliación pendiente del propio registro o por un registro anterior de la misma empresa cliente y SIF. No se reenvía el registro. Consulta el UUID indicado y resuelve el bloqueo antes de volver a solicitar el reenvío.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceSubmissionBlockedErrorResponse'
              examples:
                pendingReconciliation:
                  summary: El propio registro está pendiente de conciliación
                  value:
                    data:
                      error:
                        code: E-INVOICE-SUBMISSION-BLOCKED
                        message: "El resultado de este envío está pendiente de confirmación. Consulta su estado en Veri*Factu antes de reenviarlo."
                        errors:
                          reason: pending_reconciliation
                          blocking_invoice_id: "9db6bb78-6799-4abb-b9a0-22d127c543ed"
                        details: null
        '404':
          description: "No encontrado. El registro de facturación con el ID indicado no existe."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        '422':
          description: |
            Errores de validación. Posibles causas:
            - El registro no tiene huella generada (no se ha procesado correctamente).
            - El registro ya está registrado en Veri*Factu y no puede ser reenviado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '403':
          description: "No autorizado. La API-KEY proporcionada no es válida."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedApiKeyErrorResponse'
        '500':
          description: |
            Error interno del servidor. Posibles causas:
            - Error de conexión con Veri*Factu.
            - Error al parsear la respuesta XML de Veri*Factu.
            - Error al generar el XML para Veri*Factu.
      security:
        - client_api_key: []

  /api/invoices/{invoiceId}/cancel:
    post:
      summary: "Anular registro de facturación"
      description: |
        Anulación de un registro de facturación.

        Si se considera que "toda la factura" en sí misma está mal o no debería haberse emitido, siempre que para solucionarlo no deba emplearse algún procedimiento (de rectificativa u otro) previsto en el Reglamento de Obligaciones de Facturación (ROF), se podrá anular, generando para ello un registro de facturación de anulación.
      operationId: "cancelInvoiceRecord"
      parameters:
        - name: invoiceId
          in: path
          description: |
            ID de la factura. Este ID se obtiene en la respuesta a las altas de registros de facturación. También se puede obtener desde el panel web, accediendo a la factura en el campo **ID DE KUBIFACTU**.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Factura enviada con éxito."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelInvoiceRecordResponse'
        '422':
          description: "Errores de validación."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '403':
          description: "No autorizado. La API-KEY proporcionada no es válida."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedApiKeyErrorResponse'
        '500':
          description: "Error interno del servidor."
      security:
        - client_api_key: []

  /api/invoices/{invoiceId}/deferredcancel:
    post:
      summary: "Anular registro de facturación en diferido"
      description: "Anulación de un registro de facturación en diferido."
      operationId: "cancelInvoiceRecordDeferred"
      parameters:
        - name: invoiceId
          in: path
          description: |
            ID de la factura. Este ID se obtiene en la respuesta a las altas de registros de facturación. También se puede obtener desde el panel web, accediendo a la factura en el campo **ID DE KUBIFACTU**.
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                callback_url:
                  type: string
                  format: url
                  description: |
                    Sólo aplicable a [registros de facturación en diferido](/basic-concepts#registros-de-facturación-diferidos) o reenvíos de regitros de facturación. URL a la que se llamará con el resultado de la AEAT al procesamiento del registro de facturación.

                    Se hará una petición POST a esta URL y se enviarán los siguientes campos en formato JSON:

                    - `id`: `string`. Identificador de KubiFACTU para el registro de facturación.
                    - `client_invoice_id`: `string`. Identificador del cliente para el registro de facturación.
                    - `record_type`: `string (creation|cancellation)`. Tipo de registro de facturación.
                    - `sif_id`: `string`. ID del SIF utilizado para la creación del registro.
                    - `sender_company_name`: `string`. Nombre de la empresa emisora.
                    - `sender_tax_id_number`: `string`. CIF/NIF de la empresa emisora.
                    - `full_invoice_number`: `string`. Número de factura.
                    - `fingerprint`: `string`. Huella del registro de facturación.
                    - `csv`: `string|null`. Código Seguro de Verificación (CSV) de la remisión que contiene el registro. Puede ser `null` aunque el registro esté aceptado: para saber si está acreditado, usa `vf_record_registration_status`, no la presencia del `csv`. [Leer más en la FAQ](/faq).
                    - `vf_post_status`: `string`. Ver valores posibles en la documentación del campo `vf_post_status` de la respuesta de envío de registros de facturación.
                    - `vf_record_registration_status`: `string`. Ver valores posibles en la documentación del campo `vf_record_registration_status` de la respuesta de envío de registros de facturación.
                    - `has_warnings`: `bool`. Indica si el registro contiene errores que deban ser subsanados.
                    - `vf_error_descriptions`: `string|null`. Cadena con la descripción de los errores devueltos por Veri*Factu.
                    - `vf_response_body`: `string|null`. Cuerpo de la respuesta de Veri*Factu en formato Base64. Contiene el XML completo devuelto por la AEAT tras el envío del registro de facturación.
                    - `xml_url`: `string|null`. URL para descargar el XML del registro de facturación enviado a Veri*Factu mediante el endpoint [Descargar XML del registro de facturación](/openapi-reference/descargar-xml-del-registro-de-facturación). Será `null` si el XML aún no está disponible.
                    - `qr_value`: `string|null`. URL del código QR para validación de la factura en Veri*Factu. Será `null` si el registro fue rechazado o no aplica mostrar QR.
                    - `qr_image_url`: `string|null`. URL para descargar la imagen PNG del código QR generado por KubiFACTU mediante el endpoint [Descargar imagen QR del registro de facturación](/openapi-reference/descargar-imagen-qr-del-registro-de-facturación). Será `null` si el registro fue rechazado o no aplica mostrar QR.
                  example: "https://www.tuempresa.com/kubifactu/callback"
      responses:
        '200':
          description: "Factura enviada con éxito."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelInvoiceRecordResponse'
        '422':
          description: "Errores de validación."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '403':
          description: "No autorizado. La API-KEY proporcionada no es válida."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedApiKeyErrorResponse'
        '500':
          description: "Error interno del servidor."
      security:
        - client_api_key: []

  /api/clientcompanies:
    get:
      summary: "Obtener lista de empresas"
      description: "Devuelve un listado de empresas con posibilidad de aplicar filtros."
      operationId: "listClientCompanies"
      parameters:
        - name: tax_id_number
          in: query
          description: |
            Filtrar empresas por NIF completo o parcial.
          required: false
          schema:
            type: string
        - name: company_name
          in: query
          description: |
            Filtrar empresas por nombre (razón social) completo o parcial.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: "Datos de la empresa."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListClientCompaniesResponse'
        '403':
          description: "No autorizado. La API-KEY proporcionada no es válida."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedApiKeyErrorResponse'
        '500':
          description: "Error interno del servidor."
      security:
        - owner_api_key: []

    post:
      summary: "Crear una nueva empresa"
      description: "Registro de una nueva empresa en el sistema."
      operationId: "createClientCompany"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateClientCompanyRequest"
      responses:
        '200':
          description: "Empresa creada con éxito."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateClientCompanyResponse'
        '422':
          description: "Errores de validación."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '403':
          description: "No autorizado. La API-KEY proporcionada no es válida."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedApiKeyErrorResponse'
        '500':
          description: "Error interno del servidor."
      security:
        - owner_api_key: []

  /api/clientcompanies/{companyId}:
    post:
      summary: "Editar empresa"
      description: "Edición de los datos de una empresa."
      operationId: "updateClientCompany"
      parameters:
        - name: companyId
          in: path
          description: |
            ID de la empresa a editar.
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateClientCompanyRequest"
      responses:
        '200':
          description: "Empresa creada con éxito."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateClientCompanyResponse'
        '422':
          description: "Errores de validación."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '403':
          description: "No autorizado. La API-KEY proporcionada no es válida."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedApiKeyErrorResponse'
        '500':
          description: "Error interno del servidor."
      security:
        - owner_api_key: []
    get:
      summary: "Obtener datos de empresa"
      description: "Devuelve los datos de la empresa."
      operationId: "showClientCompany"
      parameters:
        - name: companyId
          in: path
          description: |
            ID de la empresa a editar.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Datos de la empresa."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateClientCompanyResponse'
        '404':
          description: "No encontrado. La empresa con el ID indicado no ha sido encontrada."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        '403':
          description: "No autorizado. La API-KEY proporcionada no es válida."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedApiKeyErrorResponse'
        '500':
          description: "Error interno del servidor."
      security:
        - owner_api_key: []

  /api/clientcompanies/{companyId}/requests:
    get:
      summary: "Obtener operaciones de una empresa"
      description: "Devuelve el número de operaciones realizadas por una empresa en un año y mes determinados."
      operationId: "showClientCompanyRequests"
      parameters:
        - name: companyId
          in: path
          description: |
            ID de la empresa.
          required: true
          schema:
            type: string
        - name: year
          in: query
          description: |
            Año sobre el que hacer la consulta. Por defecto, el año en curso.
          required: false
          schema:
            type: integer
            example: 2026
        - name: month
          in: query
          description: |
            Mes sobre el que hacer la consulta (1 = Enero, 12 = Diciembre). Por defecto, el mes en curso.
          required: false
          schema:
            type: integer
            example: 11
      responses:
        '200':
          description: "Datos de la empresa."
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      client_company_id:
                        type: string
                        format: uuid
                        description: Identificador único de la empresa.
                        example: "9dcccd85-496d-4ed8-8f78-edfacac68964"
                      requests_count:
                        type: integer
                        description: Número de operaciones realizadas por la empresa en el periodo solicitado.
                        example: 258
        '404':
          description: "No encontrado. La empresa con el ID indicado no ha sido encontrada."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        '403':
          description: "No autorizado. La API-KEY proporcionada no es válida."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedApiKeyErrorResponse'
        '500':
          description: "Error interno del servidor."
      security:
        - owner_api_key: []

  /api/clientcompanies/{companyId}/sifs:
    get:
      summary: "Obtener SIFs de empresa"
      description: "Obtención de los Sistemas Informáticos de Facturación de la empresa."
      operationId: "getClientCompanySifs"
      parameters:
        - name: companyId
          in: path
          description: |
            ID de la empresa.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Empresa creada con éxito."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSIFsResponse'
        '403':
          description: "No autorizado. La API-KEY proporcionada no es válida."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedApiKeyErrorResponse'
        '500':
          description: "Error interno del servidor."
      security:
        - owner_api_key: []
    post:
      summary: "Nuevo SIF de empresa"
      description: "Creación de un Sistema Informático de Facturación de empresa."
      operationId: "createClientCompanySif"
      parameters:
        - name: companyId
          in: path
          description: |
            ID de la empresa.
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateClientCompanySifRequest"
      responses:
        '200':
          description: "Empresa creada con éxito."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSIFResponse'
        '422':
          description: "Errores de validación."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '403':
          description: "No autorizado. La API-KEY proporcionada no es válida."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedApiKeyErrorResponse'
        '500':
          description: "Error interno del servidor."
      security:
        - owner_api_key: []

  /api/clientcompanies/{companyId}/authorization-documents:
    post:
      summary: "Subir documentos de autorización"
      description: |
        Sube documentos de autorización y/o identidad para una empresa cliente.

        Este endpoint permite subir uno o ambos documentos simultáneamente:
        - Solo documento de autorización
        - Solo documento de identidad
        - Ambos documentos a la vez
        - Documento de autorización con indicador de firma digital del cliente (`authorization_document_has_digital_signature`)

        El campo `authorization_document_has_digital_signature` puede enviarse junto con `authorization_document`.
        Si se sube solo `identity_document`, este indicador no aplica.

        **Nota:** Este endpoint solo está disponible para intermediarios que NO usen su propio certificado digital.
      operationId: "uploadAuthorizationDocuments"
      parameters:
        - name: companyId
          in: path
          description: ID de la empresa cliente.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/UploadAuthorizationDocumentsRequest"
      responses:
        '200':
          description: "Documento(s) subido(s) con éxito."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadAuthorizationDocumentsResponse'
        '422':
          description: |
            Errores de validación. Posibles causas:
            - La empresa no existe o no pertenece al owner
            - No se proporcionó ningún documento
            - El archivo excede 25MB
            - Tipo de archivo no permitido (solo pdf, jpg, jpeg, png)
            - El owner usa su propio certificado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '403':
          description: "No autorizado. La API-KEY proporcionada no es válida."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedApiKeyErrorResponse'
        '500':
          description: "Error interno del servidor."
      security:
        - owner_api_key: []

  /api/verifactu/health:
    get:
      summary: "Estado del servicio Veri*Factu"
      description: |
        Obtiene el estado actual del servicio Veri*Factu de la AEAT.

        Este endpoint devuelve información sobre la disponibilidad del servicio, incluyendo el código de estado HTTP de la última comprobación y cualquier mensaje de error si el servicio no está disponible.
      operationId: "getVerifactuHealthStatus"
      responses:
        '200':
          description: "Estado del servicio Veri*Factu."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifactuHealthCheckResponse'
        '404':
          description: "No hay registros de health check disponibles."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        '403':
          description: "No autorizado. La API-KEY proporcionada no es válida."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedApiKeyErrorResponse'
        '500':
          description: "Error interno del servidor."
      security:
        - client_api_key: []

  /api/sifs/{sifId}:
    delete:
      summary: "Eliminar SIF"
      description: "Eliminación de un Sistema Informático de Facturación."
      operationId: "deleteSif"
      parameters:
        - name: sifId
          in: path
          description: |
            ID del SIF a eliminar.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: "SIF eliminado con éxito."
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        description: Mensaje de confirmación de eliminación.
                        example: "SIF deleted successfully."
        '404':
          description: "No encontrado. El SIF con el ID indicado no existe o no pertenece al usuario autenticado."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        '403':
          description: "No autorizado. La API-KEY proporcionada no es válida."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedApiKeyErrorResponse'
        '500':
          description: "Error interno del servidor."
      security:
        - owner_api_key: []

components:
  schemas:
    CreateClientCompanyRequest:
      type: object
      properties:
        company_name:
          type: string
          description: Nombre de la empresa.
          example: "Empresa de ejemplo"
        tax_id_number:
          type: string
          description: NIF/CIF de la empresa.
          example: "S6271969E"
        email:
          type: string
          format: email
          description: Correo electrónico de la empresa.
          example: "empresa@prueba.net"
      required:
        - company_name
        - tax_id_number
        - email

    UpdateClientCompanyRequest:
      type: object
      properties:
        company_name:
          type: string
          description: Nombre de la empresa.
          example: "Empresa de ejemplo"
        tax_id_number:
          type: string
          description: NIF/CIF de la empresa.
          example: "S6271969E"
        email:
          type: string
          format: email
          description: Correo electrónico de la empresa.
          example: "empresa@prueba.net"
      required:
        - company_name
        - tax_id_number
        - email

    UpdateClientCompanyCertificateRequest:
      type: object
      properties:
        certificate_file:
          type: string
          format: binary
          description: Certificado digital de la empresa en formato archivo.
        certificate_password:
          type: string
          description: Contraseña del certificado digital.
          example: "passwd"
      required:
        - certificate_file
        - certificate_password

    UploadAuthorizationDocumentsRequest:
      type: object
      properties:
        authorization_document:
          type: string
          format: binary
          description: |
            Documento de autorización firmado. Formatos permitidos: PDF, JPG, JPEG, PNG.
            Tamaño máximo: 25MB.
        identity_document:
          type: string
          format: binary
          description: |
            Documento de identidad del representante legal. Sólo necesario si el documento de autorización no está firmado digitalmente por el cliente. Formatos permitidos: PDF, JPG, JPEG, PNG.
            Tamaño máximo: 25MB.
        authorization_document_has_digital_signature:
          type: boolean
          description: |
            Indicador de que el documento de autorización está firmado digitalmente con el certificado digital del cliente.
            Solo se tiene en cuenta cuando se envía `authorization_document`.
      description: |
        Al menos uno de los dos documentos es requerido.
        El campo `authorization_document_has_digital_signature` permite indicar firma digital en el documento de autorización y, en ese caso, considerar opcional el documento de identidad para la lógica de completitud.

    UploadAuthorizationDocumentsResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            message:
              type: string
              description: Mensaje de confirmación.
              example: "Documents uploaded successfully."
            authorization_document:
              type: string
              nullable: true
              description: Nombre del archivo de autorización guardado.
              example: "auth_20260129153045.pdf"
            identity_document:
              type: string
              nullable: true
              description: Nombre del archivo de identidad guardado.
              example: "identity_20260129153046.jpg"

    CreateClientCompanySifRequest:
      type: object
      properties:
        company_name:
          type: string
          description: Nombre de la empresa.
          example: "Empresa de ejemplo"
        tax_id_number:
          type: string
          description: NIF/CIF de la empresa.
          example: "S6271969E"
        other_country_code:
          $ref: "#/components/schemas/other_country_code"
        other_tax_id_type_key:
          $ref: "#/components/schemas/other_tax_id_type_key"
        other_tax_id_number:
          type: string
          description: >
            Número de identificación en el país de residencia del sujeto. Ejemplo: `L74JF44L2` para una empresa de `DE`.
        name:
          type: string
          description: Nombre del SIF.
          maxLength: 30
          example: "SIF-0001"
        sif_id:
          type: string
          maxLength: 2
          description: |
            Identificador del SIF para Veri*Factu. Deberá distinguirse de otros posibles SIFs que produzca esta entidad productora.

            Deberá tener rellenadas siempre las dos posiciones, cada una de las cuales deberá ser una letra mayúscula, excepto la Ñ, o un dígito numérico.
        version:
          type: string
          description: Versión en formato X.Y.Z del SIF.
          example: "1.0.0"
        installation_number:
          type: string
          maxLength: 100
          description: Número de instalación del sistema informático de facturación (SIF) utilizado. Deberá distinguirse de otros posibles SIF utilizados para realizar la facturación del obligado a expedir facturas, es decir, de otras posibles instalaciones de SIF pasadas, presentes o futuras utilizadas para realizar la facturación del obligado a expedir facturas, incluso aunque en dichas instalaciones se emplee el mismo SIF de un productor.
          example: "LQLFBFLMUSLAEMU7SC2BROSETQU7SSRIKJDRW2QHVMCPE574M4JORYRDLWPS3NRXWJ3APCNKWWXO771GSIO731KXTAUPIMXWV33Y"
      required:
        - company_name
        - tax_id_number
        - name
        - sif_id
        - version
        - installation_number

    CreateBatchOfInvoicesRecordsRequest:
      type: object
      required:
        - invoices
      properties:
        invoices:
          type: array
          minItems: 1
          maxItems: 500
          description: |
            Array de registros de facturación con la misma estructura que la del endpoint de **Enviar registro de facturación**.
          items:
            $ref: '#/components/schemas/CreateInvoiceRecordRequest'

    CreateInvoiceRecordRequest:
      type: object
      properties:
        client_invoice_id:
          type: string
          maxLength: 50
          description: |
            Identificador único de la factura **dentro del sistema del cliente**.
          example: "96f2044008d7iujfd78jspo4"

        callback_url:
          type: string
          format: url
          description: |
            Sólo aplicable a [registros de facturación en diferido](/basic-concepts#registros-de-facturación-diferidos) o reenvíos de regitros de facturación. URL a la que se llamará con el resultado de la AEAT al procesamiento del registro de facturación.

            Se hará una petición POST a esta URL y se enviarán un array en formato JSON con los datos de las facturas procesadas cuyos ítems contendrán los siguientes campos:

            - `id`: `string`. Identificador de KubiFACTU para el registro de facturación.
            - `client_invoice_id`: `string|null`. Identificador del cliente para el registro de facturación.
            - `record_type`: `string (creation|cancellation)`. Tipo de registro de facturación.
            - `sif_id`: `string`. ID del SIF utilizado para la creación del registro.
            - `sender_company_name`: `string`. Nombre de la empresa emisora.
            - `sender_tax_id_number`: `string`. CIF/NIF de la empresa emisora.
            - `fiscal_year`: `integer`. Año fiscal del registro de facturación.
            - `full_invoice_number`: `string`. Número de factura.
            - `fingerprint`: `string|null`. Huella del registro de facturación.
            - `csv`: `string|null`. Código Seguro de Verificación (CSV) de la remisión que contiene el registro. Puede ser `null` aunque el registro esté aceptado: para saber si está acreditado, usa `vf_record_registration_status`, no la presencia del `csv`. [Leer más en la FAQ](/faq).
            - `vf_post_status`: `string|null`. Ver valores posibles en la documentación del campo `vf_post_status` de la respuesta de envío de registros de facturación.
            - `vf_record_registration_status`: `string|null`. Ver valores posibles en la documentación del campo `vf_record_registration_status` de la respuesta de envío de registros de facturación.
            - `has_warnings`: `bool`. Indica si el registro contiene errores que deban ser subsanados.
            - `vf_error_descriptions`: `string|null`. Cadena con la descripción de los errores devueltos por Veri*Factu.
            - `vf_response_body`: `string|null`. Cuerpo de la respuesta de Veri*Factu en formato Base64. Contiene el XML completo devuelto por la AEAT tras el envío del registro de facturación.
            - `xml_url`: `string|null`. URL para descargar el XML del registro de facturación enviado a Veri*Factu mediante el endpoint [Descargar XML del registro de facturación](/openapi-reference/descargar-xml-del-registro-de-facturación). Será `null` si el XML aún no está disponible.
            - `qr_value`: `string|null`. URL del código QR para validación de la factura en Veri*Factu. Será `null` si el registro fue rechazado o no aplica mostrar QR.
            - `qr_image_url`: `string|null`. URL para descargar la imagen PNG del código QR generado por KubiFACTU mediante el endpoint [Descargar imagen QR del registro de facturación](/openapi-reference/descargar-imagen-qr-del-registro-de-facturación). Será `null` si el registro fue rechazado o no aplica mostrar QR.
          example: "https://www.tuempresa.com/kubifactu/callback"

        sif_id:
          type: string
          format: uuid
          description: |
            ID del SIF que se quiere utilizar para el envío de la factura. Los SIFs se pueden registrar en el panel web de KubiFACTU.

            Un SIF puede procesar registros de facturación de diferentes empresas.

            Una empresa puede tener uno o varios SIFs. Por ejemplo, una empresa con varias tiendas puede operar con un SIF por cada establecimiento, de forma que el encadenamiento/trazabilidad de las facturas se trate por separado.
          example: "9db0bca1-187e-4cf4-b87c-96f2044008d7"

        invoice_type_key:
          $ref: "#/components/schemas/invoice_type_key"

        sender_data:
          type: object
          description: Información referente al emisor de la factura.
          required:
            - company_name
            - tax_id_number
          properties:
            company_name:
              type: string
              description: Nombre de la empresa emisora.
            tax_id_number:
              type: string
              description: NIF/CIF de la empresa emisora.

        recipients:
          type: array
          description: Información de los receptores de la factura. Obligatorio para facturas ordinarias.
          items:
            type: object
            required:
              - company_name
            properties:
              company_name:
                type: string
                description: Nombre de la empresa receptora.
              tax_id_number:
                type: string
                description: >
                  NIF/CIF de la empresa receptora. Este campo es obligatorio si el receptor es nacional y se identifica mediante CIF/NIF.
              other_country_code:
                $ref: "#/components/schemas/other_country_code"
              other_tax_id_type_key:
                $ref: "#/components/schemas/other_tax_id_type_key"
              other_tax_id_number:
                type: string
                description: >
                  Número de identificación en el país de residencia del destinatario de la operación de la factura expedida. Ejemplo: `L74JF44L2` para una empresa de `DE`.

        representative_company_name:
          type: string
          description: |
            Nombre/razón social del representante del obligado tributario.
            A rellenar solo en caso de que el registro de facturación remitido haya sido generado por un representante/asesor del obligado tributario.

        representative_tax_id_number:
          type: string
          description: |
            NIF del representante del obligado tributario.
            A rellenar solo en caso de que el registro de facturación remitido haya sido generado por un representante/asesor del obligado tributario.

        previous_rejection_key:
          $ref: "#/components/schemas/previous_rejection_key"

        correction_key:
          $ref: "#/components/schemas/correction_key"

        full_invoice_number:
          type: string
          description: |
            Serie+Nº Factura que identifica a la factura emitida. Sólo puedo contener caracteres ASCII del 32 a 126 (caracteres imprimibles).
            Ejemplo: `2026-00001`.
          example: "2026-00001"

        fiscal_year:
          type: integer
          description: |
            Ejercicio fiscal en el que se emite la factura. Aunque este dato no se envía a la AEAT, se utiliza junto con el `sif_id` para verificar que no se están duplicando los números de factura.
          example: 2026

        issue_date:
          type: string
          format: date
          example: "2026-09-15"
          description: |
            Fecha de expedición del registro de facturación.

            No puede ser una fecha futura.

        operation_date:
          type: string
          format: date
          description: |
            Fecha en la que se ha realizado la operación, siempre que sea diferente a la fecha de expedición. Determina el ejercicio y periodo fiscal al que pertenece la operación."

            Formato `yyyy-mm-dd`.
          example: "2026-02-26"

        operation_description:
          type: string
          description: |
            Descripción del objeto de la factura.

        tax_breakdown:
          type: array
          maxItems: 12
          description: |
            Anteriormente, este campo se denominaba `lines`. Este nombre sigue siendo válido como alias de retrocompatibilidad, pero las nuevas integraciones deben utilizar `tax_breakdown`.

            Desglose de la factura con la lista de los conceptos facturados **agrupados por condición fiscal completa**. El número máximo de líneas es de 12.

            Esta es la propiedad canónica para el desglose fiscal. Los errores de validación se devuelven usando la clave incluida en la petición. Si no se incluye ninguna clave compatible para el desglose, el error se devuelve en `tax_breakdown`.

            En el endpoint por lotes, la ruta de esta propiedad es `invoices.*.tax_breakdown` y cada factura se valida de forma independiente.

            El desglose debe agruparse por condición fiscal completa: `tax_rate` + `vat_tax_regime_key`, `ipsi_tax_regime_key` o `igic_tax_regime_key` (según `tax_type_key`) + `equalization_tax_rate` (si aplica). Esta agrupación responde a la condición fiscal de la operación, y no puede realizarse únicamente por tipo impositivo.

            A modo de ejemplo, indicar lo siguiente:

            ### Caso 1: Factura con todas las líneas al 21%
            Si las líneas al 21% se acogen a regímenes diferentes, deben generarse múltiples agrupaciones en el desglose, cada una con su combinación única de `tax_rate` + `vat_tax_regime_key`, `ipsi_tax_regime_key` o `igic_tax_regime_key` (según `tax_type_key`) + `equalization_tax_rate` (si aplica).

            Ejemplo válido:
            - Línea 1: 21%, régimen general
            - Línea 2: 21%, régimen criterio de caja

            El desglose debe contener dos entradas distintas, ambas con tipo 21%, pero con claves de régimen diferentes.

            ### Caso 2: Factura con líneas al 21% y al 10%

            Se pueden informar más de una clave de régimen por cada tipo impositivo, siempre que existan líneas que lo justifiquen.

            Ejemplo válido:
            - Línea 1: 21%, régimen general
            - Línea 2: 21%, régimen especial agencias
            - Línea 3: 10%, régimen general

            El desglose incluirá tres agrupaciones:
            1. 21% + régimen general
            2. 21% + régimen especial agencias
            3. 10% + régimen general
          items:
            type: object
            required:
              - operation_type_key
              - tax_base
            oneOf:
              - required: [tax_type_key, vat_tax_regime_key]
                properties:
                  tax_type_key:
                    type: string
                    enum: ["01"]
                not:
                  anyOf:
                    - required: [igic_tax_regime_key]
                    - required: [ipsi_tax_regime_key]
              - required: [tax_type_key, ipsi_tax_regime_key]
                properties:
                  tax_type_key:
                    type: string
                    enum: ["02"]
                not:
                  anyOf:
                    - required: [vat_tax_regime_key]
                    - required: [igic_tax_regime_key]
              - required: [tax_type_key, igic_tax_regime_key]
                properties:
                  tax_type_key:
                    type: string
                    enum: ["03"]
                not:
                  anyOf:
                    - required: [vat_tax_regime_key]
                    - required: [ipsi_tax_regime_key]
              - required: [tax_type_key]
                properties:
                  tax_type_key:
                    type: string
                    enum: ["05"]
                not:
                  anyOf:
                    - required: [vat_tax_regime_key]
                    - required: [ipsi_tax_regime_key]
                    - required: [igic_tax_regime_key]
            properties:
              tax_type_key:
                $ref: "#/components/schemas/tax_type_key"
              vat_tax_regime_key:
                $ref: "#/components/schemas/vat_tax_regime_key"
              igic_tax_regime_key:
                $ref: "#/components/schemas/igic_tax_regime_key"
              ipsi_tax_regime_key:
                $ref: "#/components/schemas/ipsi_tax_regime_key"
              operation_type_key:
                $ref: "#/components/schemas/operation_type_key"
              exemption_cause_key:
                $ref: "#/components/schemas/exemption_cause_key"
              tax_base:
                type: number
                format: decimal
                description: |
                  Magnitud dineraria sobre la que se aplica el tipo impositivo/importe no sujeto.
                  Valor con 12 dígitos en la parte entera y 2 decimales. Ejemplo: `200.00`.
                example: 200.00
              tax_base_at_cost:
                type: number
                format: decimal
                description: |
                  Magnitud dineraria sobre la que se aplica el tipo impositivo en **régimen especial de grupos nivel avanzado**.
                  Valor con 12 dígitos en la parte entera y 2 decimales. Ejemplo: `100.00`.
              tax_rate:
                type: number
                format: decimal
                description: |
                  Porcentaje aplicado sobre la base imponible para calcular la cuota.
                  Valor con 3 dígitos en la parte entera y 2 decimales. Ejemplo: `21.00`.
                example: 21.00
              tax_quota:
                type: number
                format: decimal
                description: |
                  Cuota resultante de aplicar a la base imponible el tipo impositivo.
                  Valor con 12 dígitos en la parte entera y 2 decimales. Ejemplo: `42.00`.
                example: 42.00
              equalization_tax_rate:
                type: number
                format: decimal
                description: |
                  Tipo de recargo de equivalencia asociado en función del impuesto y tipo impositivo.
                  Valor con 3 dígitos en la parte entera y 2 decimales. Ejemplo: `5.20`.
                example: 5.20
              equalization_tax_quota:
                type: number
                format: decimal
                description: |
                  Cuota de resultante de aplicar a la base imponible el tipo de recargo de equivalencia.
                  Valor con 12 dígitos en la parte entera y 2 decimales. Ejemplo: `10.40`.
                example: 10.40

        total_quota:
          type: number
          format: decimal
          description: |
            Importe total de la cuota (sumatorio de la cuota repercutida y cuota de recargo de equivalencia) de la factura.
            Valor con 12 dígitos en la parte entera y 2 decimales. Ejemplo: `33.57`.

        total_amount:
          type: number
          format: decimal
          description: |
            Importe total de la factura. Ʃ(`tax_base` + `tax_quota` + `equalization_tax_quota`) de todas las entradas de `tax_breakdown`.
            Valor con 12 dígitos en la parte entera y 2 decimales. Ejemplo: `2450.75`.

        simplified_invoice_key:
          $ref: "#/components/schemas/simplified_invoice_key"

        without_recipient_identification_key:
          $ref: "#/components/schemas/without_recipient_identification_key"

        macrodata_key:
          $ref: "#/components/schemas/macrodata_key"

        issued_by_third_party_or_recipient_key:
          type: string
          description: |
            Identificador que especifica si la factura ha sido expedida materialmente por un tercero o por el destinatario (contraparte).

            - Si es igual a `T` (tercero), el bloque `third_party_data` será de cumplimentación obligatoria.
            - Si es igual a `D` (destinatario), el bloque `recipients` será de cumplimentación obligatoria.

            - `T`: Tercero
            - `D`: Destinatario
          enum:
            - "T"
            - "D"

        third_party_data:
          type: object
          description: Información del tercero que expide la factura.
          required:
            - company_name
          properties:
            company_name:
              type: string
              description: Nombre de la empresa del tercero que expide la factura.
            tax_id_number:
              type: string
              description: >
                NIF/CIF de la empresa. Este campo es obligatorio si el tercero que expide la factura es nacional y se identifica mediante CIF/NIF
            other_country_code:
              $ref: "#/components/schemas/other_country_code"
            other_tax_id_type_key:
              $ref: "#/components/schemas/other_tax_id_type_key"
            other_tax_id_number:
              type: string
              description: >
                Número de identificación, en el país de residencia del tercero que expide la factura. Ejemplo: `L74JF44L2` para una empresa de `DE`.

        rectificative_type_key:
          $ref: "#/components/schemas/rectificative_type_key"

        rectified_tax_base:
          type: number
          format: decimal
          description: |
            Base imponible rectificada.
            Valor con 12 dígitos en la parte entera y 2 decimales. Ejemplo: `2500.55`.
          example: 2500.55

        rectified_tax_quota:
          type: number
          format: decimal
          description: |
            Cuota de impuesto rectificada.
            Valor con 12 dígitos en la parte entera y 2 decimales. Ejemplo: `42.30`.
          example: 42.30

        rectified_equalization_tax_quota:
          type: number
          format: decimal
          description: |
            Cuota de recargo de equivalencia rectificada.
            Valor con 12 dígitos en la parte entera y 2 decimales. Ejemplo: `5.20`.
          example: 5.20

        rectified_invoices:
          type: array
          description: |
            Lista de facturas que se están rectificando.
          items:
            type: object
            required:
              - tax_id_number
              - full_invoice_number
              - issue_date
            properties:
              tax_id_number:
                type: string
                description: |
                  NIF/CIF de la empresa emisora de la factura que quiere rectificar.
              full_invoice_number:
                type: string
                description: |
                  Serie+Nº Factura que identifica a la factura que se quiere rectificar.
                  Ejemplo: `2026-00001`.
              issue_date:
                type: string
                format: date
                description: |
                  Fecha de expedición de la factura que se quiere rectificar en formato `yyyy-mm-dd`.
                  Ejemplo: `2026-02-26`.
                example: "2026-02-26"

        substituted_invoices:
          type: array
          description: |
            Lista de facturas que se quieren sustituir.

            Sólo podrá incluirse esta agrupación cuando el campo `invoice_type_key` sea `F3`.
          items:
            type: object
            required:
              - tax_id_number
              - full_invoice_number
              - issue_date
            properties:
              tax_id_number:
                type: string
                description: |
                  NIF/CIF de la empresa emisora de la factura que quiere rectificar.
              full_invoice_number:
                type: string
                description: |
                  Serie+Nº Factura que identifica a la factura que se quiere rectificar.
                  Ejemplo: `2026-00001`.
              issue_date:
                type: string
                format: date
                description: |
                  Fecha de expedición de la factura que se quiere rectificar en formato `yyyy-mm-dd`.
                  Ejemplo: `2026-02-26`.
                example: "2026-02-26"

        coupon_key:
          $ref: "#/components/schemas/coupon_key"

        invoicing_agreement_registration_number:
          type: string
          description: |
            Número de registro obtenido al enviar la autorización en materia de facturación o de libros registro a que se refiere la disposición adicional primera del Real Decreto que aprueba el Reglamento.

        sif_agreement_id:
          type: string
          description: |
            Identificación del acuerdo (resolución) a que se refiere el artículo 5 del Reglamento.

      required:
        - sif_id
        - invoice_type_key
        - sender_data
        - full_invoice_number
        - fiscal_year
        - issue_date
        - operation_description
        - tax_breakdown
        - total_quota
        - total_amount

    CreateBatchOfInvoiceRecordsResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          required:
            - response
          properties:
            response:
              type: string
              description: Confirmación de que el lote se ha registrado para su procesamiento diferido.
              example: "Batch of invoice records processed for deferred submission to Veri*Factu."

    CreateInvoiceRecordResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
              format: uuid
              description: |
                Identificador (ID) de la factura en el sistema de **KubiFACTU**. Se utiliza para hacer referencia al registro de facturación desde otros endpoints como, por ejemplo, el de anulación de facturas.
            record_type:
              $ref: "#/components/schemas/record_type"
            request_id:
              type: string
              description: Identificador de la petición como referencia para el soporte técnico.
              example: "2cc8ef846029ec69613711ad1d85f6dfebf16ffb"
            sif_id:
              type: string
              description: ID del SIF utilizado para la creación del registro.
              format: uuid
              example: "0995C42C-6708-44FB-BFBF-B363A5FE873E"
            fiscal_year:
              type: integer
              description: Año fiscal de la factura.
            full_invoice_number:
              type: string
              description: Número de la factura registrada.
            issue_date:
              type: string
              format: date
              example: "2026-09-15"
              description: Fecha de expedición del registro de facturación.
            created_at:
              type: string
              format: date-time
              example: "2026-09-15T07:35:24.992854Z"
              description: Fecha y hora de creación de la factura en nuestro sistema.
            fingerprint:
              nullable: true
              type: string
              description: Huella SHA-256 del registro de facturación registrado.
            csv:
              nullable: true
              type: string
              description: |
                Código Seguro de Verificación (CSV) que la AEAT emite en la respuesta a la remisión. Acredita la remisión, no cada registro individual.

                **Un `csv` vacío (`null`) no significa que el registro no esté acreditado.** La AEAT no devuelve el CSV en consultas posteriores, por lo que un registro aceptado puede no tenerlo; por ejemplo, cuando el resultado del envío no llegó (timeout o respuesta ilegible) y se confirmó después con una consulta de estado. Para saber si un registro está acreditado, usa `vf_record_registration_status`, no la presencia del `csv`.

                En los envíos diferidos por lote, todos los registros del mismo envío comparten el mismo CSV, también los rechazados. Solo se omite si la AEAT rechaza todos los registros del envío.

                Un reenvío no borra un CSV ya guardado cuando la nueva respuesta no incluye uno. Un CSV nuevo sustituye al anterior. [Leer más en la FAQ](/faq).
            vf_post_status:
              $ref: "#/components/schemas/vf_post_status"
            vf_record_registration_status:
              $ref: "#/components/schemas/vf_record_registration_status"
            has_warnings:
              type: boolean
              description: Indica si el registro contiene errores que deban ser subsanados.
              example: false
            vf_error_descriptions:
              nullable: true
              type: string
              description: Cadena con la descripción de los errores devueltos por Veri*Factu.
            next_request_waiting_time:
              type: integer
              description: Tiempo que se debe esperar en segundos para que la empresa cliente pueda enviar una nueva petición.
            next_request_datetime:
              type: string
              format: date-time
              example: "1977-04-22T06:00:00Z"
              description: Fecha y hora en la que la empresa cliente pueda enviar una nueva petición en formato ISO-8601 (ej.- 1977-04-22T06:00:00Z) con zona horaria UTC.
            qr_value:
              type: string
              nullable: true
              format: uri
              description: URL que debe mostrarse en el QR de las facturas procesadas con Veri*Factu. Esta URL sirve para que el receptor de la factura pueda validar que esta ha sido correctamente enviada a Veri*Factu. Este campo será `null` cuando Veri*Factu rechace el registro de facturación.
            qr_image_url:
              type: string
              nullable: true
              format: uri
              description: URL para descargar la imagen PNG del QR generado por KubiFACTU mediante el endpoint [Descargar imagen QR del registro de facturación](/openapi-reference/descargar-imagen-qr-del-registro-de-facturación). La petición debe incluir el header `X-Qbikode-ClientApiKey`. Este campo será `null` cuando Veri*Factu rechace el registro de facturación o no aplique mostrar QR.
            xml_url:
              type: string
              nullable: true
              format: uri
              description: URL para descargar el XML del registro de facturación enviado a Veri*Factu mediante el endpoint [Descargar XML del registro de facturación](/openapi-reference/descargar-xml-del-registro-de-facturación). La petición debe incluir el header `X-Qbikode-ClientApiKey`. Este campo será `null` cuando el XML aún no esté disponible, por ejemplo en registros de facturación en diferido pendientes de procesar.
            vf_response_body:
              type: string
              nullable: true
              format: byte
              description: Cuerpo de la respuesta de Veri*Factu en formato Base64. Contiene el XML completo devuelto por la AEAT tras el envío del registro de facturación. Este campo será `null` para facturas en diferido que aún no han sido procesadas o cuando no se haya recibido respuesta de Veri*Factu.

    CancelInvoiceRecordResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
              format: uuid
              description: |
                Identificador (ID) de la factura en el sistema de **KubiFACTU**. Se utiliza para hacer referencia al registro de facturación desde otros endpoints como, por ejemplo, el de anulación de facturas.
            request_id:
              type: string
              description: Identificador de la petición como referencia para el soporte técnico.
              example: "2cc8ef846029ec69613711ad1d85f6dfebf16ffb"
            sif_id:
              type: string
              description: ID del SIF utilizado para la creación del registro.
              format: uuid
              example: "0995C42C-6708-44FB-BFBF-B363A5FE873E"
            fingerprint:
              nullable: true
              type: string
              description: Huella SHA-256 de la factura registrada.
            vf_post_status:
              $ref: "#/components/schemas/vf_post_status"
            vf_record_registration_status:
              $ref: "#/components/schemas/vf_record_registration_status"
            has_warnings:
              type: boolean
              description: Indica si el registro contiene errores que deban ser subsanados.
              example: false
            vf_error_descriptions:
              nullable: true
              type: string
              description: Cadena con la descripción de los errores devueltos por Veri*Factu.
            next_request_waiting_time:
              type: integer
              description: Tiempo que se debe esperar en segundos para que la empresa cliente pueda enviar una nueva petición.
            next_request_datetime:
              type: string
              format: date-time
              example: "1977-04-22T06:00:00Z"
              description: Fecha y hora en la que la empresa cliente pueda enviar una nueva petición en formato ISO-8601 (ej.- 1977-04-22T06:00:00Z) con zona horaria UTC.

    InvoiceLite:
      type: object
      required:
        - total_quota
        - total_amount
        - tax_breakdown
      properties:
        id:
          type: string
          format: uuid
          description: Identificador (ID) de la factura en el sistema de KubiFACTU.
        client_invoice_id:
          type: string
          nullable: true
          description: Identificador único de la factura dentro del sistema del cliente.
        record_type:
          $ref: "#/components/schemas/record_type"
        request_id:
          type: string
          description: Identificador de la petición como referencia para el soporte técnico.
          example: "2cc8ef846029ec69613711ad1d85f6dfebf16ffb"
        fiscal_year:
          type: integer
          description: Año fiscal de la factura.
          example: 2026
        full_invoice_number:
          type: string
          description: Número de la factura registrada.
          example: "F2026-0000123"
        issue_date:
          type: string
          format: date
          example: "2026-09-15"
          description: Fecha de expedición del registro de facturación.
        created_at:
          type: string
          format: date-time
          example: "2026-09-15T07:35:24.992854Z"
          description: Fecha y hora de creación de la factura en nuestro sistema.
        total_quota:
          type: number
          format: decimal
          description: Cuota total almacenada de la factura, incluida la cuota de recargo de equivalencia. Se devuelve como número JSON. En los registros de anulación es `0`.
          example: 21.11
        total_amount:
          type: number
          format: decimal
          description: Importe total almacenado de la factura. Se devuelve como número JSON. En los registros de anulación es `0`.
          example: 121.61
        tax_breakdown:
          type: array
          description: Desglose fiscal completo almacenado del registro. Cada entrada incluye todas sus propiedades, con `null` en los campos sin valor. En los registros de anulación se devuelve un array vacío (`[]`).
          items:
            $ref: "#/components/schemas/InvoiceTaxBreakdown"
        fingerprint:
          nullable: true
          type: string
          description: Huella SHA-256 del registro de facturación registrado.
        csv:
          nullable: true
          type: string
          description: |
            Código Seguro de Verificación (CSV) que la AEAT emite en la respuesta a la remisión. Acredita la remisión, no cada registro individual.

            **Un `csv` vacío (`null`) no significa que el registro no esté acreditado.** La AEAT no devuelve el CSV en consultas posteriores, por lo que un registro aceptado puede no tenerlo; por ejemplo, cuando el resultado del envío no llegó (timeout o respuesta ilegible) y se confirmó después con una consulta de estado. Para saber si un registro está acreditado, usa `vf_record_registration_status`, no la presencia del `csv`.

            En los envíos diferidos por lote, todos los registros del mismo envío comparten el mismo CSV, también los rechazados. Solo se omite si la AEAT rechaza todos los registros del envío.

            Un reenvío no borra un CSV ya guardado cuando la nueva respuesta no incluye uno. Un CSV nuevo sustituye al anterior. [Leer más en la FAQ](/faq).
        vf_post_status:
          $ref: "#/components/schemas/vf_post_status"
        vf_record_registration_status:
          $ref: "#/components/schemas/vf_record_registration_status"
        has_warnings:
          type: boolean
          description: Indica si el registro contiene errores que deban ser subsanados.
          example: false
        vf_error_descriptions:
          nullable: true
          type: string
          description: Cadena con la descripción de los errores devueltos por Veri*Factu.

    InvoiceTaxBreakdown:
      type: object
      description: Entrada del desglose fiscal devuelto en el listado de registros de facturación.
      required:
        - tax_type_key
        - vat_tax_regime_key
        - igic_tax_regime_key
        - ipsi_tax_regime_key
        - operation_type_key
        - exemption_cause_key
        - tax_base
        - tax_base_at_cost
        - tax_rate
        - tax_quota
        - equalization_tax_rate
        - equalization_tax_quota
      properties:
        tax_type_key:
          $ref: "#/components/schemas/tax_type_key"
        vat_tax_regime_key:
          type: string
          nullable: true
          description: Clave del régimen de IVA almacenada. Es `null` cuando no tiene valor.
          enum: ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "14", "15", "17", "18", "19", "20", null]
        igic_tax_regime_key:
          type: string
          nullable: true
          description: Clave del régimen de IGIC almacenada. Es `null` cuando no tiene valor.
          enum: ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "14", "15", "17", "18", "19", null]
        ipsi_tax_regime_key:
          type: string
          nullable: true
          description: Clave del régimen de IPSI almacenada. Es `null` cuando no tiene valor.
          enum: ["01", "08", "11", "18", "19", "20", null]
        operation_type_key:
          type: string
          nullable: true
          description: Clave del tipo de operación almacenada. Es `null` cuando no tiene valor, por ejemplo en operaciones exentas.
          enum: ["S1", "S2", "N1", "N2", null]
        exemption_cause_key:
          type: string
          nullable: true
          description: Clave de la causa de exención almacenada. Es `null` cuando no tiene valor.
          enum: ["E1", "E2", "E3", "E4", "E5", "E6", null]
        tax_base:
          type: number
          format: decimal
          description: Base imponible o importe no sujeto almacenado.
          example: 100.50
        tax_base_at_cost:
          type: number
          format: decimal
          nullable: true
          description: Base imponible a coste almacenada. Es `null` cuando no tiene valor.
        tax_rate:
          type: number
          format: decimal
          nullable: true
          description: Tipo impositivo almacenado, expresado en porcentaje. Es `null` cuando no tiene valor.
          example: 21.00
        tax_quota:
          type: number
          format: decimal
          nullable: true
          description: Cuota del impuesto almacenada. Es `null` cuando no tiene valor.
          example: 21.11
        equalization_tax_rate:
          type: number
          format: decimal
          nullable: true
          description: Tipo de recargo de equivalencia almacenado, expresado en porcentaje. Es `null` cuando no tiene valor.
          example: 5.20
        equalization_tax_quota:
          type: number
          format: decimal
          nullable: true
          description: Cuota de recargo de equivalencia almacenada. Es `null` cuando no tiene valor.
          example: 5.23
      example:
        tax_type_key: "01"
        vat_tax_regime_key: "01"
        igic_tax_regime_key: null
        ipsi_tax_regime_key: null
        operation_type_key: "S1"
        exemption_cause_key: null
        tax_base: 100.50
        tax_base_at_cost: null
        tax_rate: 21.00
        tax_quota: 21.11
        equalization_tax_rate: null
        equalization_tax_quota: null

    ListInvoicesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/InvoiceLite"
        meta:
          type: object
          properties:
            per_page:
              type: integer
              description: Número de elementos por página en la respuesta.
              example: 50
            next_page_cursor:
              type: string
              nullable: true
              description: Cursor para obtener la siguiente página de resultados. Será `null` si no hay más páginas.
              example: "eyJpZCI6IjE5NzctMDQtMjJUMDY6MDA6MDBaIn0"
            prev_page_cursor:
              type: string
              nullable: true
              description: Cursor para obtener la página anterior de resultados. Puede ser `null`.
              example: "ffN6eRJ0i2YPRA7C51eYNkLt8HIubpW9RDrFk77"
            has_more:
              type: boolean
              description: Indica si hay más resultados para seguir paginando.
              example: true

    ListClientCompaniesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CreateClientCompanyResponse'

    CreateClientCompanyResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
              format: uuid
              description: Identificador único de la empresa creada.
              example: "9dcccd85-496d-4ed8-8f78-edfacac68964"
            company_name:
              type: string
              description: Nombre de la empresa.
              example: "Empresa de ejemplo"
            tax_id_number:
              type: string
              description: NIF/CIF de la empresa.
              example: "S6271969E"
            email:
              type: string
              format: email
              description: Correo electrónico de la empresa.
              example: "empresa@pruebas.net"
            api_key:
              type: string
              description: API Key generada para la empresa.
              example: "Xxv3en85OJOtI7Q6XFNGuA3FPwDNsnhk1kbtlQ5RgRSAdoo47eSGGYbgfLs8Qf2obGJluvY28a0tIqeM1UjzdbHDSDp1Q0fNX9sz"

    GetSIFsResponse:
      type: object
      properties:
        data:
          type: array
          description: Array con la lista de SIFs asociados a la empresa.
          items:
            $ref: "#/components/schemas/sif"

    CreateSIFResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/sif"

    sif:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Identificador único del SIF.
          example: "9dccd6c6-08f8-490d-a370-bfef724c0855"
        company_name:
          type: string
          description: Nombre de la empresa asociada al SIF.
          example: "Empresa de ejemplo"
        tax_id_number:
          type: string
          description: NIF/CIF de la empresa asociada al SIF.
          example: "S6271969E"
        other_country_code:
          $ref: "#/components/schemas/other_country_code"
        other_tax_id_type_key:
          $ref: "#/components/schemas/other_tax_id_type_key"
        other_tax_id_number:
          type: string
          description: >
            Número de identificación en el país de residencia de la empresa. Ejemplo: `L74JF44L2` para una empresa de `DE`.
        name:
          type: string
          description: Nombre del SIF.
          example: "SIF 0001"
        sif_id:
          type: string
          description: Identificador del SIF para Veri*Factu.
          example: "DC"
        version:
          type: string
          description: Versión del SIF.
          example: "1.0.0"
        installation_number:
          type: string
          description: Número de instalación asociado al SIF.
          example: "BM1WJ36SS5MOL6LWPLHTMBFUOTQO5TNDU2ILL34JG6FLSVAUMD1I0G41AS7PC870QAHHIOWJSBPKRB2XELRCUWO4TSJ8XY0UPAML"
        only_verifactu_use_key:
          type: string
          description: |
            Indica si el SIF es solo para uso de Veri*Factu.
            Valores posibles: `S` (Sí), `N` (No).
          example: "S"
        multi_ot_key:
          type: string
          description: |
            Indica si el SIF admite operaciones de registros de facturación de múltiples empresas.
            Valores posibles: `S` (Sí), `N` (No).
          example: "N"
        supporting_multiple_ots_key:
          type: string
          description: |
            Indica si el SIF soporta actualmente el procesamiento de registros de facturación de múltiples empresas.
            Valores posibles: `S` (Sí), `N` (No).
          example: "N"

    invoice_type_key:
      type: string
      description: |
        Especificación del tipo de factura: factura completa, factura simplificada, factura emitida en sustitución de facturas simplificadas o factura rectificativa.
        - `F1`: Factura (art. 6, 7.2 y 7.3 del RD 1619/2012).
        - `F2`: Factura Simplificada y Facturas sin identificación del destinatario art. 6.1.d) RD 1619/2012.
        - `F3`: Factura emitida en sustitución de facturas simplificadas facturadas y declaradas.
        - `R1`: Factura Rectificativa (Error fundado en derecho y Art. 80 Uno Dos y Seis LIVA)
        - `R2`: Factura Rectificativa (Art. 80.3)
        - `R3`: Factura Rectificativa (Art. 80.4)
        - `R4`: Factura Rectificativa (Resto)
        - `R5`: Factura Rectificativa en facturas simplificadas
      example: "F1"
      enum:
        - F1
        - F2
        - F3
        - R1
        - R2
        - R3
        - R4
        - R5

    other_tax_id_type_key:
      type: string
      description: |
        Clave para identificar el tipo de documento. Los valores posibles son:

        - `02`: **NIF-IVA**: Número de Identificación Fiscal para IVA.
[...]
